In [1]:
#Package
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc
plt.rcParams['font.family'] = 'NanumGothic'
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

for col in ['임대료','임대보증금']:
    train[col] = train[col].replace('-',np.nan)
    train[col].fillna(-1,inplace=True)
    train[col] = train[col].astype('float')
    train[col] = train[col].replace(-1,np.nan)

for col in ['임대료','임대보증금']:
    test[col] = test[col].replace('-',np.nan)
    test[col].fillna(-1,inplace=True)
    test[col] = test[col].astype('float')
    test[col] = test[col].replace(-1,np.nan)
    
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철역',
       '버스정류장', '단지내주차면수', '등록차량수']
test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철역',
       '버스정류장', '단지내주차면수']

In [3]:
data = pd.read_csv('external_data.csv',header='infer')

data.columns=['기관명', '광역시도코드', '지역', '시군구코드', '시군구명', '단지명', '도로명주소', '총세대수',
       '공급유형', '형명', '전용면적', '공급공용면적', '주택유형명', '단지내주차면수', '임대보증금', '임대료',
       '기본전환보증금']

data= data.drop(["형명", "기본전환보증금", "공급공용면적", "광역시도코드"], axis=1)
data.drop(data.loc[data['지역']=='인천광역시'].index, inplace=True)

print(data.shape)

(93668, 13)

In [4]:
test[test.임대건물구분=='아파트'].isna().sum()

단지코드         0
총세대수         0
임대건물구분       0
지역           0
공급유형         0
전용면적         0
전용면적별세대수     0
공가수          0
자격유형         2
임대보증금        9
임대료          9
지하철역        20
버스정류장        0
단지내주차면수      0
dtype: int64

In [5]:
test_아파트=test[test.임대건물구분=='아파트']

In [16]:
test_아파트[test_아파트.임대료.isnull()].단지코드.unique()

array(['C1006', 'C2152', 'C1267'], dtype=object)

In [13]:
test_아파트[test_아파트.단지코드=='C1006']
# 대전둔산1
# 대전광역시 서구 월평북로 11

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
73,C1006,1505,아파트,대전광역시,영구임대,26.37,358,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
74,C1006,1505,아파트,대전광역시,영구임대,26.37,229,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
75,C1006,1505,아파트,대전광역시,영구임대,26.37,574,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
78,C1006,1505,아파트,대전광역시,영구임대,31.32,298,27.0,C,6873000.0,94990.0,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0

- 26.37은 똑같이 넣으면 되고
- 52.74는 임대보증금 11574000 임대료 159960

In [40]:
test[test.단지코드=="C1006"].head(7)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
73,C1006,1505,아파트,대전광역시,영구임대,26.37,358,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
74,C1006,1505,아파트,대전광역시,영구임대,26.37,229,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
75,C1006,1505,아파트,대전광역시,영구임대,26.37,574,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,5787000.0,79980.0,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,5787000.0,79980.0,2.0,5.0,428.0
78,C1006,1505,아파트,대전광역시,영구임대,31.32,298,27.0,C,6873000.0,94990.0,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0

In [34]:
test.at[76, '임대보증금'] = 5787000
test.at[77, '임대보증금'] = 5787000
test.at[76, '임대료'] = 79980
test.at[77, '임대료'] = 79980

In [41]:
test.at[79, '임대보증금'] = 11574000
test.at[79, '임대료'] = 159960

In [42]:
test[test.단지코드=="C1006"].head(7)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
73,C1006,1505,아파트,대전광역시,영구임대,26.37,358,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
74,C1006,1505,아파트,대전광역시,영구임대,26.37,229,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
75,C1006,1505,아파트,대전광역시,영구임대,26.37,574,27.0,C,5787000.0,79980.0,2.0,5.0,428.0
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,5787000.0,79980.0,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,5787000.0,79980.0,2.0,5.0,428.0
78,C1006,1505,아파트,대전광역시,영구임대,31.32,298,27.0,C,6873000.0,94990.0,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,11574000.0,159960.0,2.0,5.0,428.0

In [14]:
test_아파트[test_아파트.단지코드=='C2152']
# 화천신읍(공공실버) 영구임대
# 강원도 화천군 화천읍 산천어길 196

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,NaN,NaN,0.0,1.0,40.0
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,NaN,NaN,0.0,1.0,40.0

- 24.83 임대보증금 8560000 임대료 87040
- 33.84 임대보증금 11667000 임대료 118630

In [44]:
test.at[1005, '임대보증금'] = 8560000
test.at[1006, '임대보증금'] = 11667000
test.at[1005, '임대료'] = 87040
test.at[1006, '임대료'] = 118630

In [45]:
test[test.단지코드=="C2152"]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,8560000.0,87040.0,0.0,1.0,40.0
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,11667000.0,118630.0,0.0,1.0,40.0

In [17]:
test_아파트[test_아파트.단지코드=='C1267']
# 창원가포1단지
# 경상남도 창원시 마산합포구 가포본동5길 37

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
1007,C1267,675,아파트,경상남도,국민임대,24.87,28,38.0,H,6882000.0,104370.0,0.0,1.0,467.0
1008,C1267,675,아파트,경상남도,국민임대,24.99,90,38.0,H,6882000.0,104370.0,0.0,1.0,467.0
1009,C1267,675,아파트,경상남도,국민임대,24.99,12,38.0,H,6882000.0,104370.0,0.0,1.0,467.0
1010,C1267,675,아파트,경상남도,국민임대,46.72,68,38.0,H,24420000.0,219230.0,0.0,1.0,467.0
1011,C1267,675,아파트,경상남도,국민임대,46.72,112,38.0,H,24420000.0,219230.0,0.0,1.0,467.0
1012,C1267,675,아파트,경상남도,영구임대,22.86,96,38.0,C,10876000.0,89230.0,0.0,1.0,467.0
1013,C1267,675,아파트,경상남도,영구임대,22.86,14,38.0,C,10876000.0,89230.0,0.0,1.0,467.0
1014,C1267,675,아파트,경상남도,행복주택,16.94,50,38.0,L,NaN,NaN,0.0,1.0,467.0
1015,C1267,675,아파트,경상남도,행복주택,26.85,66,38.0,L,NaN,NaN,0.0,1.0,467.0
1016,C1267,675,아파트,경상남도,행복주택,26.85,8,38.0,L,NaN,NaN,0.0,1.0,467.0
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,NaN,NaN,0.0,1.0,467.0

- 16.94: 임대보증금 11520000 임대료 54720
- 26.85: 임대보증금 17640000 임대료 83790
- 36.77: 임대보증금 23760000 임대료 112860

In [46]:
test.at[1014, '임대보증금'] = 11520000
test.at[1015, '임대보증금'] = 17640000
test.at[1016, '임대보증금'] = 17640000
test.at[1017, '임대보증금'] = 23760000

test.at[1014, '임대료'] = 54720
test.at[1015, '임대료'] = 83790
test.at[1016, '임대료'] = 83790
test.at[1017, '임대료'] = 112860

In [47]:
test[test.단지코드=="C1267"]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역,버스정류장,단지내주차면수
1007,C1267,675,아파트,경상남도,국민임대,24.87,28,38.0,H,6882000.0,104370.0,0.0,1.0,467.0
1008,C1267,675,아파트,경상남도,국민임대,24.99,90,38.0,H,6882000.0,104370.0,0.0,1.0,467.0
1009,C1267,675,아파트,경상남도,국민임대,24.99,12,38.0,H,6882000.0,104370.0,0.0,1.0,467.0
1010,C1267,675,아파트,경상남도,국민임대,46.72,68,38.0,H,24420000.0,219230.0,0.0,1.0,467.0
1011,C1267,675,아파트,경상남도,국민임대,46.72,112,38.0,H,24420000.0,219230.0,0.0,1.0,467.0
1012,C1267,675,아파트,경상남도,영구임대,22.86,96,38.0,C,10876000.0,89230.0,0.0,1.0,467.0
1013,C1267,675,아파트,경상남도,영구임대,22.86,14,38.0,C,10876000.0,89230.0,0.0,1.0,467.0
1014,C1267,675,아파트,경상남도,행복주택,16.94,50,38.0,L,11520000.0,54720.0,0.0,1.0,467.0
1015,C1267,675,아파트,경상남도,행복주택,26.85,66,38.0,L,17640000.0,83790.0,0.0,1.0,467.0
1016,C1267,675,아파트,경상남도,행복주택,26.85,8,38.0,L,17640000.0,83790.0,0.0,1.0,467.0
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,23760000.0,112860.0,0.0,1.0,467.0

In [48]:
test[test.임대건물구분=='아파트'].isna().sum()

단지코드         0
총세대수         0
임대건물구분       0
지역           0
공급유형         0
전용면적         0
전용면적별세대수     0
공가수          0
자격유형         2
임대보증금        0
임대료          0
지하철역        20
버스정류장        0
단지내주차면수      0
dtype: int64

## 참고 사이트
https://apply.lh.or.kr/LH/index.html?gv_url=SIL::CLCC_SIL_0080.xfdl&gv_menuId=1010205&gv_param=CCR_CNNT_SYS_DS_CD:04,PAN_ID:BN-0000819,LCC:Y#SIL::CLCC_SIL_0030:1010205