In [205]:
import pandas as pd
import numpy as np

# Visualization
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc
plt.rcParams['font.family'] = 'NanumGothic'
import platform
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
    rc('font', family='AppleGothic')

matplotlib.rcParams['axes.unicode_minus'] = False

import os
path = os.path.dirname(os.getcwd())
path = os.path.dirname(path)
path = os.path.join(path, "Daesamanlap/ProcessedData")
train = pd.read_csv(os.path.join(path,"merged_train.csv"))
test = pd.read_csv(os.path.join(path,"merged_test.csv"))
import warnings
warnings.filterwarnings(action='ignore')

In [206]:
train=train.drop_duplicates(keep='first')
test=test.drop_duplicates(keep='first')

In [207]:
## 1. EDA 및 전처리(baseline: MSE 98)

### 1) 상가비율

tmp = train.groupby(['단지코드','임대건물구분']).count().iloc[:,:1].reset_index()
store = tmp[tmp['임대건물구분']=='상가'].reset_index(drop=True)[['단지코드','총세대수']].rename(columns={'총세대수':'상가수'})
apt = tmp[tmp['임대건물구분']=='아파트'].reset_index(drop=True)[['단지코드','총세대수']].rename(columns={'총세대수':'아파트수'})
total = pd.merge(apt,store,on='단지코드',how='left').fillna(0)
total['상가비율'] = total.apply(lambda x : x['상가수']/(x['아파트수']+x['상가수']),axis=1)
train = pd.merge(train,total[['단지코드','상가비율']],on='단지코드',how='left')

tmp = test.groupby(['단지코드','임대건물구분']).count().iloc[:,:1].reset_index()
store = tmp[tmp['임대건물구분']=='상가'].reset_index(drop=True)[['단지코드','총세대수']].rename(columns={'총세대수':'상가수'})
apt = tmp[tmp['임대건물구분']=='아파트'].reset_index(drop=True)[['단지코드','총세대수']].rename(columns={'총세대수':'아파트수'})
total = pd.merge(apt,store,on='단지코드',how='left').fillna(0)
total['상가비율'] = total.apply(lambda x : x['상가수']/(x['아파트수']+x['상가수']),axis=1)
test = pd.merge(test,total[['단지코드','상가비율']],on='단지코드',how='left')

### 2) 세대당가능주차면수

train['세대당_가능주차면수'] = train.apply(lambda x : x['단지내주차면수']/x['총세대수'],axis=1)
test['세대당_가능주차면수'] = test.apply(lambda x : x['단지내주차면수']/x['총세대수'],axis=1)

### 3) 공가비율

train['공가비율'] = train.apply(lambda x : x['공가수']/x['총세대수'],axis=1)
test['공가비율'] = test.apply(lambda x : x['공가수']/x['총세대수'],axis=1)

### 4) 대형전용면적

level = 85

train['대형전용면적'] = train['전용면적'].apply(lambda x : 1 if x>level else 0)
test['대형전용면적'] = test['전용면적'].apply(lambda x : 1 if x>level else 0)

### 5) 공급유형
#- 공공임대 5년/10년 $\rightarrow$ 공공임대(단기)

train.loc[train.공급유형.isin(['공공임대(5년)', '공공임대(10년)']), '공급유형'] = '공공임대(단기)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공임대(10년)']), '공급유형'] = '공공임대(단기)'

#- 1차원으로 합치기

not_unique = ['공급유형','전용면적','임대건물구분','전용면적별세대수','대형전용면적','임대보증금','임대료','자격유형']

train_one = train.drop(not_unique,axis=1).drop_duplicates().reset_index(drop=True)
test_one = test.drop(not_unique,axis=1).drop_duplicates().reset_index(drop=True)

#- 전용면적별세대수 채우기

for i in train['공급유형'].unique():
    train_one[i] = 0
    test_one[i] = 0

sample = pd.DataFrame(train.groupby(['단지코드','공급유형']).sum()['전용면적별세대수']).reset_index()
for i in sample.index:
    code = sample.loc[i,'단지코드']
    col = sample.loc[i,'공급유형']
    val = sample.loc[i,'전용면적별세대수']  # 전용면적별세대수
    ind = train_one[train_one['단지코드']==code].index
    train_one.loc[ind,col] = val

sample = pd.DataFrame(test.groupby(['단지코드','공급유형']).sum()['전용면적별세대수']).reset_index()
for i in sample.index:
    code = sample.loc[i,'단지코드']
    col = sample.loc[i,'공급유형']
    val = sample.loc[i,'전용면적별세대수']  # 전용면적별세대수
    ind = test_one[test_one['단지코드']==code].index
    test_one.loc[ind,col] = val

### 6) 임대료 임대보증금 : 평균

sample = train.groupby('단지코드').mean()[['임대료','임대보증금']].reset_index()
train_one=pd.merge(train_one, sample, on="단지코드", how="left")

sample = test.groupby('단지코드').mean()[['임대료','임대보증금']].reset_index()
test_one=pd.merge(test_one, sample, on="단지코드", how="left")

### 연면적 / 전용면적은 나중에 drop

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2) # 12345 중에 2가 제일 좋음

sample = train.groupby('단지코드').mean()[['전용면적']].reset_index()
train_one=pd.merge(train_one, sample, on="단지코드", how="left")

sample = test.groupby('단지코드').mean()[['전용면적']].reset_index()
test_one=pd.merge(test_one, sample, on="단지코드", how="left")

train_one["연면적new"]=train_one.연면적
test_one["연면적new"]=test_one.연면적

train_one.loc[(train_one.연면적new<train_one.전용면적), "연면적new"]=np.nan
test_one.loc[(test_one.연면적new<test_one.전용면적), "연면적new"]=np.nan

#train_one.isna().sum() # 63

#test_one.isna().sum() #23

im=train_one[["단지내주차면수", "총세대수", "전용면적", "연면적new"]]
im = pd.DataFrame(imputer.fit_transform(im),
                     columns = im.columns)

train_one["연면적new"]=im["연면적new"]

imp=test_one[["단지내주차면수", "총세대수", "전용면적", "연면적new"]]
imp = pd.DataFrame(imputer.fit_transform(imp),
                     columns = imp.columns)

test_one["연면적new"]=imp["연면적new"]

### 7) 대형전용면적 총개수

sample = pd.DataFrame(train.groupby('단지코드')['대형전용면적'].sum()).reset_index()
train_one = pd.merge(train_one, sample, on="단지코드", how="left")

sample = pd.DataFrame(test.groupby('단지코드')['대형전용면적'].sum()).reset_index()
test_one = pd.merge(test_one, sample, on="단지코드", how="left")

### 8) 변수제거

col = ['단지명','도로명주소','subway_name','임대상가', '전용면적']

train_one = train_one.drop(col,axis=1)
test_one = test_one.drop(col,axis=1)

In [208]:
train_up = train_one[train_one['단지내주차면수']>=987].reset_index(drop=True)
train_down = train_one[train_one['단지내주차면수']<987].reset_index(drop=True)

test_up = test_one[test_one['단지내주차면수']>=987].reset_index(drop=True)
test_down = test_one[test_one['단지내주차면수']<987].reset_index(drop=True)

#train_up_new = train_one[train_one['단지내주차면수']>=318].reset_index(drop=True)

In [209]:
def areafunc(x):
    if x in ['제주특별자치도','경상남도','부산광역시']:
        return 0
    elif x in ['광주광역시','세종특별자치시','경상북도','전라북도','서울특별시']:
        return 1
    elif x in ['대구광역시']:
        return 2
    else: 
        return 3

In [210]:
train_up['지역'] = train_up['지역'].apply(lambda x : areafunc(x))
test_up['지역'] = test_up['지역'].apply(lambda x : areafunc(x))

train_up = train_up.join(pd.get_dummies(train_up['지역'],prefix='area')).iloc[:,:-1]
test_up = test_up.join(pd.get_dummies(test_up['지역'],prefix='area')).iloc[:,:-1]

## 3. 모델링

In [211]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, KFold, RepeatedKFold
from sklearn.metrics import mean_absolute_error
from catboost import CatBoostRegressor

In [212]:
def fit(X_train, X_test, y_train, y_test, model):
    try:
        model.fit(X_train, y_train, verbose=False)
    except:
        model.fit(X_train, y_train)
    tst_pred = model.predict(X_test)
    error = mean_absolute_error(y_test,tst_pred)
    return model, tst_pred, error


def fit_models(X, y, models, cv=False):
    X = np.array(X.reset_index(drop=True))
    y = np.array(y.reset_index(drop=True))
    best_error = 10000
    best_tst_pred = 0
    best_model = ""
    if cv==False:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True,random_state=2021)
        for m in models:
            model, tst_pred, error = fit(X_train, X_test, y_train, y_test, m)
            if best_error > error:
                best_error = error
                best_tst_pred = tst_pred
                best_model = model
    else:
        best_tst_idx = []
        kf = KFold(n_splits = 5, shuffle=True,random_state = 2021)
        for m in models:
            mae = []
            pred= []
            tst_idx = []
            for train_index, test_index in kf.split(X, y):
                X_train, X_test = X[train_index], X[test_index]
                y_train, y_test = y[train_index], y[test_index]
                model, tst_pred, error = fit(X_train, X_test, y_train, y_test, m)
                mae.append(error)
                pred.append(tst_pred.tolist())
                tst_idx.append(test_index.tolist())
            cv_error = np.mean(mae)
            if best_error > cv_error:
                best_error = cv_error
                best_tst_pred = pred
                best_tst_idx = sum(tst_idx, [])
                best_model = model
    best_tst_pred = sum(best_tst_pred,[])
    best_tst_pred = dict(zip(best_tst_idx,best_tst_pred))
    try:
        best_model = best_model.fit(np.concatenate((X_train, X_test),axis=0), 
                                                np.concatenate((y_train, y_test),axis=0), 
                                                verbose=False)
    except:
        best_model = best_model.fit(np.concatenate((X_train, X_test),axis=0), 
                                        np.concatenate((y_train, y_test),axis=0))
    return best_model, best_tst_pred, best_error

### 1) train/test down

In [9]:
X = train_down.drop(columns=['단지코드','등록차량수', "연면적new","장기전세"],axis=1)
X = pd.get_dummies(X, drop_first=True) 
y = train_down['등록차량수']

In [10]:
models = [CatBoostRegressor(random_state=2021, loss_function = 'MAE')]
model_down,pred_down,error_down = fit_models(X, y, models, cv=True)
print('MAE : ',error_down)

MAE :  102.23860981372566

### 2) train/test up

In [167]:
X = train_up.drop(columns=['단지코드','등록차량수','지역','상가비율', "연면적"],axis=1)
X = X[['총세대수', '공가수', '지하철역', '버스정류장', '단지내주차면수',  '연면적new','위도', '경도',
       'subway_dist', '환승역 수', '총인구수', '세대당_인구', '남/여비율', '남/여_0~19세',
       '남/여_20~39세', '남/여_40~69세', '남/여_70세이상', '0~19세_비율', '20~39세_비율',
       '40~69세_비율', '70세이상_비율', '세대당_가능주차면수', '공가비율', '국민임대', '영구임대',
       '공공임대(단기)', '장기전세', '행복주택', '공공임대(분납)', '공공분양', '공공임대(50년)', '임대료',
       '임대보증금', '대형전용면적', 'area_0', 'area_1', 'area_2']]
y = train_up['등록차량수']

models = [CatBoostRegressor(random_state=2021, loss_function = 'MAE')]
model_up,pred_up,error_up = fit_models(X, y, models, cv=True)
print('MAE : ',error_up)

MAE :  291.87954235273975

In [168]:
tmp = pd.DataFrame(y)
tmp["label"] = 1
tmp["pred"] = list(pred_up.values())
tmp["diff"] = tmp["등록차량수"] - tmp["pred"]
tmp = tmp.sort_values("등록차량수").reset_index(drop=True)
tmp.loc[12:45,"label"] = 2

In [169]:
tmp.loc[12:45,"label"] = 2
tmp.loc[45:,"label"] = 3
tmp = tmp.sort_index()

In [195]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록차량수   52 non-null     float64
 1   label   52 non-null     int64
 2   pred    52 non-null     float64
 3   diff    52 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 1.8 KB

In [190]:
tmp

     등록차량수  label         pred         diff
0    196.0      1  1318.431208 -1122.431208
1    579.0      1  1402.784247  -823.784247
2    619.0      1  1590.397134  -971.397134
3    657.0      1  1027.388468  -370.388468
4    713.0      1  1466.851852  -753.851852
5    733.0      1  1160.154212  -427.154212
6    783.0      1  1498.186603  -715.186603
7    795.0      1  1229.802080  -434.802080
8    799.0      1  1214.903213  -415.903213
9    839.0      1  1040.288846  -201.288846
10   873.0      1  1243.232162  -370.232162
11   881.0      1  1369.090204  -488.090204
12   886.0      2  1157.118250  -271.118250
13   922.0      2  1007.158683   -85.158683
14   924.0      2   825.286481    98.713519
15   995.0      2   825.483572   169.516428
16   995.0      2  1145.666282  -150.666282
17  1001.0      2  1083.823693   -82.823693
18  1023.0      2  1058.455053   -35.455053
19  1044.0      2   932.866819   111.133181
20  1044.0      2   990.187789    53.812211
21  1064.0      2  1173.097706  -109.097706
22  1101.0      2  1166.308320   -65.308320
23  1101.0      2  1092.179215     8.820785
24  1117.0      2  1642.491238  -525.491238
25  1145.0      2   882.165963   262.834037
26  1153.0      2  1325.644009  -172.644009
27  1204.0      2  1118.065090    85.934910
28  1214.0      2  1128.223647    85.776353
29  1246.0      2  1340.644957   -94.644957
30  1255.0      2  1030.491929   224.508071
31  1279.0      2   902.886317   376.113683
32  1284.0      2  1439.502766  -155.502766
33  1306.0      2  1253.632304    52.367696
34  1350.0      2  1520.434656  -170.434656
35  1374.0      2  1042.587119   331.412881
36  1378.0      2  1147.352289   230.647711
37  1398.0      2  1057.084308   340.915692
38  1400.0      2  1090.395831   309.604169
39  1433.0      2  1451.609329   -18.609329
40  1524.0      2  1397.244161   126.755839
41  1595.0      2  1351.554828   243.445172
42  1665.0      2   950.858140   714.141860
43  1668.0      2  1504.841001   163.158999
44  1709.0      2  1081.920902   627.079098
45  1730.0      3  1079.559319   650.440681
46  1804.0      3  1145.549872   658.450128
47  1832.0      3   896.428117   935.571883
48  1896.0      3  1255.893291   640.106709
49  1983.0      3  1052.830239   930.169761
50  2315.0      3  1316.647305   998.352695
51  2550.0      3  1523.588613  1026.411387

In [170]:
X.shape, tmp.shape

((52, 37), (52, 4))

In [171]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE

In [172]:
X_tmp = pd.concat([X,y],axis=1)

In [173]:
X.shape, y.shape, X_tmp.shape

((52, 37), (52,), (52, 38))

In [174]:
smoter = SMOTE(random_state = 2021)
X_tmp, y_sm = smoter.fit_resample(X_tmp,tmp["label"])

In [175]:
X_tmp

,총세대수,공가수,지하철역,버스정류장,단지내주차면수,연면적new,위도,경도,subway_dist,환승역 수,...,공공임대(분납),공공분양,공공임대(50년),임대료,임대보증금,대형전용면적,area_0,area_1,area_2,등록차량수
0,1216,13.000000,1.0,1.000000,1285.000000,4636.410000,127.337382,36.346566,0.008228,1,...,0,0,0,165956.250000,2.598438e+07,0,0,0,0,1064.000000
1,1722,10.000000,0.0,10.000000,1483.000000,3320.180000,127.117716,37.389894,0.007514,1,...,0,0,0,276856.363636,4.033873e+07,0,0,0,0,1804.000000
2,1350,15.000000,0.0,1.000000,1043.000000,520.984000,129.034556,35.203949,0.009217,1,...,0,0,0,229825.000000,1.871750e+07,0,1,0,0,873.000000
3,1533,32.000000,0.0,3.000000,1296.000000,6969.300000,129.168082,35.326394,0.078423,1,...,0,0,0,183182.500000,3.146025e+07,0,1,0,0,839.000000
4,1364,19.000000,0.0,5.000000,1505.000000,3253.270000,126.574919,33.516083,1.620381,1,...,0,0,0,141605.714286,1.628886e+07,0,1,0,0,1001.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1153,22.305637,0.0,2.515095,1024.094309,2911.225927,127.098063,36.785576,0.232773,1,...,0,0,0,345882.312892,4.577461e+07,0,0,0,0,816.174190
95,1021,13.781204,0.0,1.660940,1094.192509,4742.509580,127.816773,36.026544,0.095650,1,...,0,0,0,530230.340290,5.090505e+07,0,0,0,0,1344.637143
96,1078,5.788369,0.0,2.000000,1181.176066,6545.820914,127.360635,36.542619,0.190975,1,...,0,0,0,459312.287641,4.491230e+07,0,0,0,0,1463.418455
97,1079,6.914410,0.0,2.000000,1144.767408,6720.149363,127.258302,36.500379,0.127778,1,...,0,0,0,507452.028222,4.602643e+07,0,0,0,0,1519.720503
98,1079,6.702037,0.0,2.000000,1151.634128,6687.270790,127.277602,36.508346,0.139697,1,...,0,0,0,498372.810453,4.581630e+07,0,0,0,0,1509.101864

In [176]:
X = X_tmp.drop(columns = ["등록차량수"],axis=1)

In [177]:
y = X_tmp["등록차량수"]

In [178]:
models = [CatBoostRegressor(random_state=2021, loss_function = 'MAE')]
model_up,pred_up,error_up = fit_models(X, y, models, cv=True)
print('MAE : ',error_up)

MAE :  184.2266841828624

In [117]:
y_sm.value_counts()

3    33
2    33
1    33
Name: label, dtype: int64

In [179]:
rs = pd.DataFrame(pred_up.values(),pred_up.keys()).reset_index().sort_values("index").reset_index(drop=True)
rs.columns = ["index","value"]

In [181]:
pred_up = rs.value[:51]

In [180]:
mean_absolute_error(rs.value[:51],y.iloc[:51])

291.47817089564046

In [ ]:
mae(rs.[:52])

In [82]:
pred_up([053])

SyntaxError: invalid syntax (<ipython-input-82-c129aff954e7>, line 1)

In [81]:
pred_up.keys()

dict_keys([3, 13, 20, 23, 27, 30, 31, 32, 40, 45, 50, 51, 55, 65, 70, 4, 9, 11, 17, 22, 28, 34, 39, 43, 47, 49, 56, 63, 64, 69, 8, 10, 14, 15, 18, 19, 25, 36, 41, 52, 53, 60, 66, 71, 1, 2, 5, 7, 16, 26, 35, 42, 46, 48, 58, 59, 61, 67, 0, 6, 12, 21, 24, 29, 33, 37, 38, 44, 54, 57, 62, 68])

In [65]:
X = X[:52]

## 4. Final prediction

In [48]:
col = ['총세대수', '공가수', '지하철역', '버스정류장', '단지내주차면수', '연면적', '위도', '경도',
       'subway_dist', '환승역 수', '총인구수', '세대당_인구', '남/여비율', '남/여_0~19세',
       '남/여_20~39세', '남/여_40~69세', '남/여_70세이상', '0~19세_비율', '20~39세_비율',
       '40~69세_비율', '70세이상_비율', '상가비율', '세대당_가능주차면수', '공가비율', '국민임대', '영구임대',
       '공공임대(단기)', '장기전세', '행복주택', '공공임대(분납)', '공공분양', '공공임대(50년)', '임대료',
       '임대보증금', '대형전용면적', '지역_경기도', '지역_경상남도', '지역_경상북도', '지역_광주광역시',
       '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시', '지역_세종특별자치시',
       '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도', '지역_충청북도']

In [49]:
X_train = train_down.drop(columns=['단지코드','등록차량수','연면적new'],axis=1)
X_train = pd.get_dummies(X_train, drop_first=True) 
X_train['지역_세종특별자치시'] = 0
X_train = X_train[col]
y_train = train_down['등록차량수']
X_test = test_down.drop(columns=['단지코드'],axis=1)
X_test = pd.get_dummies(X_test, drop_first=True) 
X_test['지역_서울특별시'] = 0
X_test = X_test[col]

In [50]:
cb_down = CatBoostRegressor(random_state=2021,verbose=False).fit(X_train,y_train)
pred_down = cb_down.predict(X_test)

In [51]:
col = ['총세대수', '공가수', '지하철역', '버스정류장', '단지내주차면수', '연면적new', '위도', '경도',
       'subway_dist', '환승역 수',  '총인구수','세대당_인구','남/여비율', '남/여_0~19세',
       '남/여_20~39세', '남/여_40~69세', '남/여_70세이상', '0~19세_비율', '20~39세_비율',
       '40~69세_비율', '70세이상_비율', '세대당_가능주차면수', '공가비율', '국민임대', '영구임대',
       '공공임대(단기)', '장기전세', '행복주택', '공공임대(분납)', '공공분양', '공공임대(50년)', '임대료',
       '임대보증금', '대형전용면적', 'area_0', 'area_1', 'area_2']

In [52]:
X_train = train_up.drop(columns=['단지코드','등록차량수','지역', '연면적'],axis=1)
X_train = X_train[col]
y_train = train_up['등록차량수']
X_test = test_up.drop(columns=['단지코드','지역'],axis=1)
X_test = X_test[col]

cb_up = CatBoostRegressor(random_state=2021,
                          verbose=False,
                          loss_function='MAE').fit(X_train,y_train)
pred_up = cb_up.predict(X_test)

In [182]:
def get_pred():
    res_down = pd.DataFrame()
    res_down['code'] = test_down['단지코드'].values
    res_down['num'] = pred_down
    res_up = pd.DataFrame()
    res_up['code'] = test_up['단지코드'].values
    res_up['num'] = pred_up 
    res = pd.concat([res_down,res_up],axis=0).reset_index(drop=True)
    return res_down, res_up, res

In [183]:
def submit():
    res = get_pred()[2]
    res.loc[147,:] = ['C1327',0]
    res.loc[148,:] = ['C2335',0]
    res.loc[149,:] = ['C2675',0]
    return res

In [187]:
def score(mse):
    score = pd.read_csv("/Users/seungji/Desktop/Dacon/Daesamanlap/Final/result/MAE_"+str(mse)+".csv")
    score = pd.merge(score,get_pred()[2],on='code',how='inner')
    val = test_up['단지코드'].values
    score_up = score.loc[score['code'].isin(val),:]
    score_down = score.loc[-score['code'].isin(val),:] #y가 새롭게 예측
    mae = mean_absolute_error(score['num_x'],score['num_y'])
    mae_up = mean_absolute_error(score_up['num_x'],score_up['num_y'])
    mae_down = mean_absolute_error(score_down['num_x'],score_down['num_y'])
    print('전체 MAE : ',mae)
    print('큰 영역 MAE : ',mae_up)
    print('작은 영역 MAE : ',mae_down)
    return score_up

In [189]:
score(96)

ValueError: Length of values (362) does not match length of index (128)