In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
from matplotlib import pyplot as plt
import seaborn as sns
rc('font', family = 'AppleGothic')

In [2]:
train = pd.read_csv("EDA/data/train.csv")
data = pd.read_csv('external_data.csv',header='infer')

In [3]:
data[(data['광역시도명']=='서울특별시')&(data['주택유형명']=='아파트')&(data['공급유형명']=='장기전세')&(data['기본임대보증금']==87444000)]

,기관명,광역시도코드,광역시도명,시군구코드,시군구명,단지명,도로명주소,세대수,공급유형명,형명,공급전용면적,공급공용면적,주택유형명,주차수,기본임대보증금,기본월임대료,기본전환보증금
28829,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,23,23.32,9.8551,아파트,0,87444000,0,0

In [4]:
train[(train['지역']=='서울특별시')&(train['공급유형']=='장기전세')]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2043,C1397,370,아파트,서울특별시,장기전세,23.32,51,9.0,A,87444000,-,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,서울특별시,장기전세,46.79,4,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,서울특별시,장기전세,46.91,69,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,서울특별시,장기전세,51.96,24,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000,-,0.0,3.0,1590.0,1595.0
2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000,-,0.0,3.0,673.0,645.0
2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000,-,0.0,3.0,673.0,645.0
2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000,-,0.0,3.0,673.0,645.0

In [5]:
data[data['단지명']=='서울강남 5블록']

,기관명,광역시도코드,광역시도명,시군구코드,시군구명,단지명,도로명주소,세대수,공급유형명,형명,공급전용면적,공급공용면적,주택유형명,주차수,기본임대보증금,기본월임대료,기본전환보증금
28829,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,23,23.32,9.8551,아파트,0,87444000,0,0
28830,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,46,46.79,19.7736,아파트,0,174888000,0,0
28831,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,46,46.91,19.8244,아파트,0,174888000,0,0
28832,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,51,51.96,21.9585,아파트,0,194562000,0,0
28833,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,51,51.99,21.9712,아파트,0,194562000,0,0
28834,LH서울,11,서울특별시,680,강남구,서울강남 5블록,서울특별시 강남구 자곡로3길 21,370,장기전세,59,59.93,25.3267,아파트,0,216423000,0,0

In [6]:
train[train['단지코드']=='C1397']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2043,C1397,370,아파트,서울특별시,장기전세,23.32,51,9.0,A,87444000,-,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,서울특별시,장기전세,46.79,4,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,서울특별시,장기전세,46.91,69,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,서울특별시,장기전세,51.96,24,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000,-,0.0,3.0,1590.0,1595.0

- 세대수 = 총세대수
- 기본임대보증금 = 임대보증금
- 주택유형명 = 임대건물구분
- 공급유형명 = 공급유형
- 광역도시명 = 지역
- 공급전용면적 = 전용면적

In [7]:
data = data.rename(columns = {'세대수':'총세대수','기본임대보증금':'임대보증금','주택유형명':'임대건물구분','공급유형명':'공급유형','광역시도명':'지역','공급전용면적':'전용면적'})

In [8]:
print(sorted(train['지역'].unique()))
print(sorted(data['지역'].unique()))

['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도', '충청북도']
['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도', '충청북도']

In [9]:
print(sorted(data['공급유형'].unique()))
print(sorted(train['공급유형'].unique()))

['10년임대', '50년임대', '5년임대', '국민임대', '매입임대', '영구임대', '장기전세', '행복주택']
['공공분양', '공공임대(10년)', '공공임대(50년)', '공공임대(5년)', '공공임대(분납)', '국민임대', '영구임대', '임대상가', '장기전세', '행복주택']

In [10]:
data.loc[data.공급유형.isin(['10년임대']), '공급유형'] = '공공임대(10년)'
data.loc[data.공급유형.isin(['50년임대']), '공급유형'] = '공공임대(50년)'
data.loc[data.공급유형.isin(['5년임대']), '공급유형'] = '공공임대(5년)'

In [11]:
data1 = data[data['임대건물구분']=='아파트']
train1 = train[train['임대건물구분']=='아파트']

In [12]:
data1 = data1[['지역','총세대수','전용면적','단지명']]
train1 = train1[['단지코드','총세대수','지역','전용면적','임대보증금']]

In [14]:
result = pd.merge(train1,data1,how='left',on=['지역','총세대수','전용면적'])[['단지코드','단지명']].drop_duplicates()

In [15]:
tmp = pd.DataFrame(result.groupby('단지코드').count()['단지명']).reset_index()
tmp = np.array(tmp[tmp['단지명']==2]['단지코드'])

In [16]:
print('NA 개수: ',result['단지명'].isna().sum())
print('전체 단지코드 수: ',train['단지코드'].nunique())
print('NA 비율: ', round(95/423,2))

NA 개수:  95
전체 단지코드 수:  423
NA 비율:  0.22

- merge 잘되엇나??

In [17]:
train[train['단지코드']=='C2483']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
5,C2483,900,아파트,경상북도,국민임대,51.95,89,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
6,C2483,900,아파트,경상북도,국민임대,51.95,135,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
7,C2483,900,아파트,경상북도,국민임대,59.88,86,38.0,A,30357000,214270,0.0,3.0,1425.0,1015.0

In [18]:
data[data['단지명']=='포항장량휴먼시아1단지']

,기관명,광역시도코드,지역,시군구코드,시군구명,단지명,도로명주소,총세대수,공급유형,형명,전용면적,공급공용면적,임대건물구분,주차수,임대보증금,기본월임대료,기본전환보증금
90543,LH대구경북,47,경상북도,113,포항시 북구,포항장량휴먼시아1단지,경상북도 포항시 북구 장량중앙로 17,900,국민임대,39,39.72,17.3526,아파트,813,15667000,103680,8000000
90544,LH대구경북,47,경상북도,113,포항시 북구,포항장량휴먼시아1단지,경상북도 포항시 북구 장량중앙로 17,900,국민임대,51,51.93,22.6869,아파트,813,27304000,184330,22000000
90545,LH대구경북,47,경상북도,113,포항시 북구,포항장량휴먼시아1단지,경상북도 포항시 북구 장량중앙로 17,900,국민임대,51,51.95,22.6956,아파트,813,27304000,184330,22000000
90546,LH대구경북,47,경상북도,113,포항시 북구,포항장량휴먼시아1단지,경상북도 포항시 북구 장량중앙로 17,900,국민임대,59,59.88,26.1600,아파트,813,30357000,214270,25000000

- train data는 전용면적 중에서도 유형 별로 row가 여러개 존재하지만, 외부데이터는 전용면적 별 하나의 row

- 아래 데이터는 하나의 단지코드 별로 두개의 단지명 보유 $\rightarrow$ 잘못 merge된 케이스

In [19]:
tmp

array(['C1601', 'C2133', 'C2232', 'C2378', 'C2635'], dtype=object)

In [20]:
result[result['단지코드']=='C2133']

      단지코드            단지명
542  C2133   송화마을 휴먼시아1단지
543  C2133  장자울마을 휴먼시아5단지

In [21]:
train[train['단지코드']=='C1601'] # 휴먼시아 새뜰마을4단지

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
1396,C1601,330,아파트,경기도,국민임대,46.90,72,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1397,C1601,330,아파트,경기도,국민임대,46.90,42,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1398,C1601,330,아파트,경기도,국민임대,46.90,6,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1399,C1601,330,아파트,경기도,국민임대,46.90,3,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1400,C1601,330,아파트,경기도,국민임대,51.93,126,13.0,A,27887000,191010,0.0,4.0,335.0,308.0
1401,C1601,330,아파트,경기도,국민임대,51.93,81,13.0,A,27887000,191010,0.0,4.0,335.0,308.0

In [22]:
data[data['단지명']=='휴먼시아 새뜰마을4단지']

,기관명,광역시도코드,지역,시군구코드,시군구명,단지명,도로명주소,총세대수,공급유형,형명,전용면적,공급공용면적,임대건물구분,주차수,임대보증금,기본월임대료,기본전환보증금
75332,LH서울,41,경기도,450,하남시,휴먼시아 새뜰마을4단지,경기도 하남시 덕풍남로 17,330,국민임대,51,51.93,19.6383,아파트,343,44141000,316770,38000000
75333,LH서울,41,경기도,450,하남시,휴먼시아 새뜰마을4단지,경기도 하남시 덕풍남로 17,330,국민임대,59,59.88,22.6448,아파트,343,62317000,375180,45000000

In [23]:
data[data['단지명']=='산내들마을 휴먼시아4단지']

,기관명,광역시도코드,지역,시군구코드,시군구명,단지명,도로명주소,총세대수,공급유형,형명,전용면적,공급공용면적,임대건물구분,주차수,임대보증금,기본월임대료,기본전환보증금
78943,LH서울,41,경기도,630,양주시,산내들마을 휴먼시아4단지,경기도 양주시 고읍로 64,330,국민임대,46,46.90,23.0246,아파트,335,22173000,151110,18000000
78944,LH서울,41,경기도,630,양주시,산내들마을 휴먼시아4단지,경기도 양주시 고읍로 64,330,국민임대,51,51.93,25.4940,아파트,335,27128000,185810,22000000

In [24]:
train[train['단지코드']=='C1601']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
1396,C1601,330,아파트,경기도,국민임대,46.90,72,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1397,C1601,330,아파트,경기도,국민임대,46.90,42,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1398,C1601,330,아파트,경기도,국민임대,46.90,6,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1399,C1601,330,아파트,경기도,국민임대,46.90,3,13.0,A,22793000,155340,0.0,4.0,335.0,308.0
1400,C1601,330,아파트,경기도,국민임대,51.93,126,13.0,A,27887000,191010,0.0,4.0,335.0,308.0
1401,C1601,330,아파트,경기도,국민임대,51.93,81,13.0,A,27887000,191010,0.0,4.0,335.0,308.0

In [25]:
data[data['단지명']=='송화마을 휴먼시아1단지']

,기관명,광역시도코드,지역,시군구코드,시군구명,단지명,도로명주소,총세대수,공급유형,형명,전용면적,공급공용면적,임대건물구분,주차수,임대보증금,기본월임대료,기본전환보증금
52345,LH광주전남,29,광주광역시,155,남구,송화마을 휴먼시아1단지,광주광역시 남구 효우로60번길 50,355,국민임대,39,39.72,13.9460,아파트,354,19819000,110110,10000000
52346,LH광주전남,29,광주광역시,155,남구,송화마을 휴먼시아1단지,광주광역시 남구 효우로60번길 50,355,국민임대,39,39.85,13.9916,아파트,354,19819000,110110,10000000
52347,LH광주전남,29,광주광역시,155,남구,송화마을 휴먼시아1단지,광주광역시 남구 효우로60번길 50,355,국민임대,46,46.90,16.4669,아파트,354,24775000,133780,14000000
52348,LH광주전남,29,광주광역시,155,남구,송화마을 휴먼시아1단지,광주광역시 남구 효우로60번길 50,355,국민임대,59,59.88,21.0243,아파트,354,39641000,222340,26000000

In [26]:
data[data['단지명']=='장자울마을 휴먼시아5단지']

,기관명,광역시도코드,지역,시군구코드,시군구명,단지명,도로명주소,총세대수,공급유형,형명,전용면적,공급공용면적,임대건물구분,주차수,임대보증금,기본월임대료,기본전환보증금
54407,LH광주전남,29,광주광역시,200,광산구,장자울마을 휴먼시아5단지,광주광역시 광산구 풍영로145번길 42,355,국민임대,39,39.72,17.9146,아파트,320,19973000,111090,10000000
54408,LH광주전남,29,광주광역시,200,광산구,장자울마을 휴먼시아5단지,광주광역시 광산구 풍영로145번길 42,355,국민임대,46,46.90,21.1530,아파트,320,26217000,142310,16000000
54409,LH광주전남,29,광주광역시,200,광산구,장자울마을 휴먼시아5단지,광주광역시 광산구 풍영로145번길 42,355,국민임대,51,51.93,23.4216,아파트,320,32459000,172280,20000000

In [27]:
result[result['단지명'].isna()==True]

       단지코드  단지명
86    C1925  NaN
90    C1312  NaN
94    C1874  NaN
100   C2416  NaN
102   C2013  NaN
...     ...  ...
2376  C1894  NaN
2384  C1156  NaN
2392  C2142  NaN
2400  C2186  NaN
2436  C2020  NaN

[95 rows x 2 columns]