In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
store = pd.read_csv("store_tr0707.csv")
train = pd.read_csv("train.csv")

In [3]:
train_store = train[train['임대건물구분']=='상가']['단지코드'].unique()

In [4]:
print('train data의 store: ', train_store)
print('개수: ',len(train_store))

train data의 store:  ['C1925' 'C1874' 'C2416' 'C2621' 'C1616' 'C1704' 'C2258' 'C2038' 'C1859'
 'C1722' 'C2190' 'C1476' 'C1983' 'C2135' 'C2034' 'C1109' 'C2289' 'C2597'
 'C2310' 'C2132' 'C1439' 'C1899' 'C1056' 'C2644' 'C1206' 'C1775' 'C1790'
 'C2109' 'C1698' 'C1004' 'C1875' 'C2212' 'C2571']
개수:  33

In [5]:
print('외부데이터 store 단지코드: ',store['단지코드'].unique())
print('외부데이터 store 개수', store['단지코드'].nunique())

외부데이터 store 단지코드:  ['C2289' 'C2597' 'C2310' 'C2132' 'C1439' 'C1899' 'C1056' 'C2644' 'C1925'
 'C1874' 'C2416' 'C2621' 'C1616' 'C1704' 'C2258' 'C2038' 'C1859' 'C1722'
 'C2190' 'C1476' 'C1983' 'C2135' 'C2034' 'C1775' 'C1790' 'C2109' 'C1698'
 'C1004' 'C1875' 'C2212' 'C2571' 'C1109']
외부데이터 store 개수 32

In [6]:
for i in train_store:
    if i not in store['단지코드'].unique():
        print('주소특정 안 된 단지코드: ',i)

주소특정 안 된 단지코드:  C1206

In [7]:
store['임대료'] = store['임대료'].replace(0,np.nan)
store['임대보증금'] = store['임대보증금'].replace(0,np.nan)

In [8]:
store[store['임대보증금'].isna()==True] #3개는 임대료, 임대보증금 na imputation 필요

,Unnamed: 0,단지코드,지역,단지명,도로명주소,전용면적,임대료,임대보증금
26,26,C2597,부산광역시,동삼주공1단지,부산광역시 영도구 동삼북로 2,248.56,NaN,NaN
38,38,C2310,부산광역시,덕천주공2단지,부산광역시 북구 덕천로 74,583.40,NaN,NaN
80,80,C1439,부산광역시,주공아파트,부산광역시 해운대구 신반송로 200,248.56,NaN,NaN
107,107,C2416,경상남도,김해구산주공1단지아파트,경상남도 김해시 가락로 222,317.17,NaN,NaN
110,110,C2621,대전광역시,대전둔산3,대전광역시 서구 월평북로 11,137.49,NaN,NaN
122,122,C1616,대전광역시,법동 주공아파트3단지,대전광역시 대덕구 계족로663번길 34,109.11,NaN,NaN
151,151,C2038,대전광역시,대전판암3,대전광역시 동구 옥천로 152-9,240.22,NaN,NaN
198,198,C2135,부산광역시,부산금곡주공1단지,부산광역시 북구 효열로 268,240.22,NaN,NaN
213,213,C2034,부산광역시,부산금곡주공2단지,부산광역시 북구 금곡대로616번길 10-9,240.22,NaN,NaN
233,233,C1790,경상남도,진주가좌주공아파트,경상남도 진주시 가호로 26,248.56,NaN,NaN
249,249,C1004,충청남도,주공6단지2차아파트,충청남도 천안시 서북구 쌍용대로 289-28,240.22,NaN,NaN
262,262,C1875,충청남도,쌍용주공7단지1차아파트,충청남도 천안시 서북구 쌍용11길 57,240.22,NaN,NaN

In [9]:
store = store.iloc[:,1:]

In [10]:
store[['단지코드','단지명']].drop_duplicates().shape #32개는 모두 unique한 단지명 보유

(32, 2)

In [11]:
tmp = store[['단지코드','단지명']].drop_duplicates()

In [12]:
tmp['단지명'].nunique()

32

In [13]:
tmp = train[(train['단지코드']=="C1206")&(train['임대건물구분']=='상가')][['단지코드','지역','전용면적','임대료','임대보증금']].drop_duplicates()
tmp = tmp.reset_index(drop=True)

In [14]:
tmp['단지명'] = '명륜주공2차아파트'
tmp['도로명주소'] = '강원도 원주시 예술관길 31'
tmp['임대료'] = 0
tmp['임대보증금'] = 0

In [15]:
tmp

    단지코드   지역    전용면적  임대료  임대보증금        단지명            도로명주소
0  C1206  강원도   31.84    0      0  명륜주공2차아파트  강원도 원주시 예술관길 31
1  C1206  강원도   63.68    0      0  명륜주공2차아파트  강원도 원주시 예술관길 31
2  C1206  강원도  137.49    0      0  명륜주공2차아파트  강원도 원주시 예술관길 31

In [16]:
# 28.93 9160000 236000
# 42.4 6860000 174000
# 23.86 10180000 263000

In [17]:
train_X = np.array([28.93,42.4,23.86]).reshape(-1,1)
y1 = np.array([235000,174000,263000])
y2 = np.array([9160000,6860000,10180000])
lg = LinearRegression()
lg1 = LinearRegression()
lg.fit(train_X,y1) #임대료
lg1.fit(train_X,y2) #임대보증금
test_X = np.array([31.84,63.68]).reshape(-1,1)
pred = lg.predict(test_X)
pred1 = lg1.predict(test_X)

In [18]:
tmp.loc[0,'임대료'] = pred[0]
tmp.loc[0,'임대보증금'] = pred1[0]
tmp.loc[1,'임대료'] = pred[1]
tmp.loc[1,'임대보증금'] = pred1[1]

In [19]:
tmp.replace(0,np.nan)

    단지코드   지역    전용면적            임대료         임대보증금        단지명            도로명주소
0  C1206  강원도   31.84  223478.094581  8.713823e+06  명륜주공2차아파트  강원도 원주시 예술관길 31
1  C1206  강원도   63.68   72410.198894  3.066589e+06  명륜주공2차아파트  강원도 원주시 예술관길 31
2  C1206  강원도  137.49            NaN           NaN  명륜주공2차아파트  강원도 원주시 예술관길 31

In [20]:
store = pd.concat([tmp,store])

In [21]:
for i in train_store:
    if i not in store['단지코드'].unique():
        print('주소특정 안 된 단지코드: ',i)
else:
    print('주소가 모두 특정됨')

주소가 모두 특정됨

In [22]:
store[store['임대보증금'].isna()==True] #지하의 경우 na imputation이 필요하다

      단지코드     지역    전용면적  임대료  임대보증금           단지명                     도로명주소
26   C2597  부산광역시  248.56  NaN    NaN       동삼주공1단지          부산광역시 영도구 동삼북로 2
38   C2310  부산광역시  583.40  NaN    NaN       덕천주공2단지           부산광역시 북구 덕천로 74
80   C1439  부산광역시  248.56  NaN    NaN         주공아파트       부산광역시 해운대구 신반송로 200
107  C2416   경상남도  317.17  NaN    NaN  김해구산주공1단지아파트          경상남도 김해시 가락로 222
110  C2621  대전광역시  137.49  NaN    NaN         대전둔산3          대전광역시 서구 월평북로 11
122  C1616  대전광역시  109.11  NaN    NaN   법동 주공아파트3단지     대전광역시 대덕구 계족로663번길 34
151  C2038  대전광역시  240.22  NaN    NaN         대전판암3        대전광역시 동구 옥천로 152-9
198  C2135  부산광역시  240.22  NaN    NaN     부산금곡주공1단지          부산광역시 북구 효열로 268
213  C2034  부산광역시  240.22  NaN    NaN     부산금곡주공2단지   부산광역시 북구 금곡대로616번길 10-9
233  C1790   경상남도  248.56  NaN    NaN     진주가좌주공아파트           경상남도 진주시 가호로 26
249  C1004   충청남도  240.22  NaN    NaN    주공6단지2차아파트  충청남도 천안시 서북구 쌍용대로 289-28
262  C1875   충청남도  240.22  NaN    NaN  쌍용주공7단지1차아파트     충청남도 천안시 서북구 쌍용11길 57

In [23]:
store.to_csv("store_tr0708.csv",index=False)