In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 40
import numpy as np
import os,random, math
from tqdm import tqdm
from copy import deepcopy
from collections import Counter

# Visualization
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc
plt.rcParams['font.family'] = 'NanumGothic'
import platform
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
    rc('font', family='AppleGothic')

matplotlib.rcParams['axes.unicode_minus'] = False

# from dataprep.eda import plot, plot_correlation, plot_missing

import plotly 
import plotly.express as px
# from plotly import tools, subplots
# import plotly.offline as py
# py.init_notebook_mode(connected=True)
# from plotly.offline import init_notebook_mode, iplot
# import plotly.graph_objs as go
# import plotly.express as px

# Warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

## 법정동 정리

In [2]:
bjd = pd.read_csv("bupjeongdong.csv")

In [3]:
bjd

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46287  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46288  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46289  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46290  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46291  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46292 rows x 3 columns]

https://www.code.go.kr/stdcode/regCodeL.do

In [12]:
l = []
for c in bjd.법정동코드:
    l.append(len(str(c)))
pd.DataFrame(l).value_counts()

10    46292
dtype: int64

In [18]:
str(bjd.법정동코드[0])[:5]

'11000'

In [ ]:
list(map(lambda x:str.split()))

In [21]:
bjd["시군구"] = list(map(lambda x: str(x)[:5] , bjd.법정동코드))
bjd["법정동"] = list(map(lambda x: str(x)[5:] , bjd.법정동코드))

In [22]:
bjd

            법정동코드                  법정동명 폐지여부    시군구    법정동
0      1100000000                 서울특별시   존재  11000  00000
1      1111000000             서울특별시 종로구   존재  11110  00000
2      1111010100         서울특별시 종로구 청운동   존재  11110  10100
3      1111010200         서울특별시 종로구 신교동   존재  11110  10200
4      1111010300         서울특별시 종로구 궁정동   존재  11110  10300
...           ...                   ...  ...    ...    ...
46287  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재  50130  32022
46288  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재  50130  32023
46289  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재  50130  32024
46290  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재  50130  32025
46291  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재  50130  32026

[46292 rows x 5 columns]

In [35]:
address = list(map(lambda x: x.split(" ") , bjd.법정동명))

In [40]:
pd.DataFrame(list(map(lambda x: x[0] , address))).value_counts()

경상북도       9224
경기도        6522
경상남도       6093
충청남도       5267
전라남도       4821
전라북도       3350
충청북도       3147
강원도        2839
서울특별시      1112
부산직할시       454
대구광역시       368
제주도         357
인천광역시       344
대구직할시       334
부산광역시       297
광주직할시       272
울산광역시       248
광주광역시       246
인천직할시       223
대전직할시       220
제주특별자치도     216
대전광역시       184
세종특별자치시     154
dtype: int64

In [47]:
bjd["시군구1"] = list(map(lambda x: x[0] , address))
bjd["시군구2"] = list(map(lambda x: x[1] if len(x)>1 else '' , address))
bjd["법정동1"] = list(map(lambda x: x[2] if len(x)>2 else '' , address))
bjd["법정동2"] = list(map(lambda x: x[3] if len(x)>3 else '' , address))

In [48]:
bjd

,법정동코드,법정동명,폐지여부,시군구,법정동,시군구1,시군구2,법정동1,법정동2
0,1100000000,서울특별시,존재,11000,00000,서울특별시,,,
1,1111000000,서울특별시 종로구,존재,11110,00000,서울특별시,종로구,,
2,1111010100,서울특별시 종로구 청운동,존재,11110,10100,서울특별시,종로구,청운동,
3,1111010200,서울특별시 종로구 신교동,존재,11110,10200,서울특별시,종로구,신교동,
4,1111010300,서울특별시 종로구 궁정동,존재,11110,10300,서울특별시,종로구,궁정동,
...,...,...,...,...,...,...,...,...,...
46287,5013032022,제주특별자치도 서귀포시 표선면 하천리,존재,50130,32022,제주특별자치도,서귀포시,표선면,하천리
46288,5013032023,제주특별자치도 서귀포시 표선면 성읍리,존재,50130,32023,제주특별자치도,서귀포시,표선면,성읍리
46289,5013032024,제주특별자치도 서귀포시 표선면 가시리,존재,50130,32024,제주특별자치도,서귀포시,표선면,가시리
46290,5013032025,제주특별자치도 서귀포시 표선면 세화리,존재,50130,32025,제주특별자치도,서귀포시,표선면,세화리
46291,5013032026,제주특별자치도 서귀포시 표선면 토산리,존재,50130,32026,제주특별자치도,서귀포시,표선면,토산리

## 법정동 test set 과 merge

In [55]:
exdata = pd.read_csv("Daesamanlap/External/external_data.csv")

In [51]:
test = pd.read_excel("test_imputed.xlsx")

In [62]:
ad = pd.read_excel("address.xlsx")
ad.columns = ['NO', '입력주소', '우편번호', '도로명주소', '기타주소']
ad = ad.iloc[1:,]

In [52]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,지하철역,버스정류장,단지내주차면수,단지명,도로명주소,임대보증금,임대료
0,C1072,754,아파트,경기도,국민임대,39.7900,116,14,H,0.0000,2,683,광명역세권 휴먼시아2단지,경기도 광명시 서원로 25,"22,830,000.0000","189,840.0000"
1,C1072,754,아파트,경기도,국민임대,46.8100,30,14,A,0.0000,2,683,광명역세권 휴먼시아2단지,경기도 광명시 서원로 25,"36,048,000.0000","249,930.0000"
2,C1072,754,아파트,경기도,국민임대,46.9000,112,14,H,0.0000,2,683,광명역세권 휴먼시아2단지,경기도 광명시 서원로 25,"36,048,000.0000","249,930.0000"
3,C1072,754,아파트,경기도,국민임대,46.9000,120,14,H,0.0000,2,683,광명역세권 휴먼시아2단지,경기도 광명시 서원로 25,"36,048,000.0000","249,930.0000"
4,C1072,754,아파트,경기도,국민임대,51.4600,60,14,H,0.0000,2,683,광명역세권 휴먼시아2단지,경기도 광명시 서원로 25,"43,497,000.0000","296,780.0000"

In [63]:
ad.head()

      NO                   입력주소   우편번호                        도로명주소 기타주소
1 1.0000  서울특별시 종로구 종로31가길 25-5  03129  서울특별시 종로구 종로31가길 25-5 (연지동)  NaN
2 2.0000     서울특별시 종로구 종로56길 23  03114     서울특별시 종로구 종로56길 23 (숭인동)  NaN
3 3.0000    서울특별시 종로구 종로63라길 29  03113    서울특별시 종로구 종로63라길 29 (숭인동)  NaN
4 4.0000        서울특별시 종로구 종로 19  03157       서울특별시 종로구 종로 19 (종로1가)  NaN
5 5.0000  서울특별시 종로구 종로31길 46-30  03129  서울특별시 종로구 종로31길 46-30 (연지동)  NaN

In [53]:
test.isnull().sum()

단지코드         0
총세대수         0
임대건물구분       0
지역           0
공급유형         0
전용면적         0
전용면적별세대수     0
공가수          0
자격유형         2
지하철역        42
버스정류장        0
단지내주차면수      0
단지명          0
도로명주소        0
임대보증금        0
임대료          0
dtype: int64

In [65]:
exdata[exdata.주택유형명 == "아파트"]

,기관명,광역시도코드,광역시도명,시군구코드,시군구명,단지명,도로명주소,세대수,공급유형명,형명,공급전용면적,공급공용면적,주택유형명,주차수,기본임대보증금,기본월임대료,기본전환보증금
86,SH공사,11,서울특별시,110,종로구,경희궁자이(돈의문1구역),서울특별시 종로구 송월길 130,308,50년임대,39.0561,39.0561,19.6373,아파트,501,53140000,179900,0
87,SH공사,11,서울특별시,110,종로구,경희궁자이(돈의문1구역),서울특별시 종로구 송월길 130,308,50년임대,42.1289,42.1289,19.9740,아파트,501,56610000,191600,0
88,SH공사,11,서울특별시,110,종로구,경희궁자이(돈의문1구역),서울특별시 종로구 송월길 130,308,50년임대,44.0260,44.0260,20.8796,아파트,501,59160000,200300,0
89,SH공사,11,서울특별시,110,종로구,경희궁자이(돈의문1구역),서울특별시 종로구 송월길 130,308,50년임대,54.1632,54.1632,26.1670,아파트,501,73070000,247300,0
114,SH공사,11,서울특별시,110,종로구,무악현대(무악1),서울특별시 종로구 통일로 246-11,550,50년임대,15,32.9300,19.8400,아파트,205,10600000,149200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97459,LH제주,50,제주특별자치도,130,서귀포시,보목신환,제주특별자치도 서귀포시 마소물로 3,2,국민임대,55,55.0740,15.7876,아파트,0,20156000,111960,10000000
97460,LH제주,50,제주특별자치도,130,서귀포시,제주서귀포혁신도시 A1블록,제주특별자치도 서귀포시 서호남로 92-15,119,10년임대,59,59.9800,19.7740,아파트,0,27431000,482790,69000000
97461,LH제주,50,제주특별자치도,130,서귀포시,남원에덴아파트,제주특별자치도 서귀포시 남원읍 남원광지로 5,6,국민임대,40,40.0000,7.0000,아파트,0,8865000,60260,0
97462,LH제주,50,제주특별자치도,130,서귀포시,남원에덴아파트,제주특별자치도 서귀포시 남원읍 남원광지로 5,6,국민임대,60,60.0000,7.0000,아파트,0,15957000,132380,14000000
97489,제주특별자치도개발공사,50,제주특별자치도,130,서귀포시,신효아파트,제주특별자치도 서귀포시 효돈로 145,12,매입임대,2형,101.9000,17.0000,아파트,0,7221500,99650,0

In [70]:
test.도로명주소[0]+"\n"

'경기도 광명시 서원로 25\n'

In [71]:
f = open("도로명주소.txt", 'w')
for a in list(test.도로명주소):
    data = a+"\n"
    f.write(data)
f.close()

https://cafe.naver.com/excelmaster/152667