In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
import os
path = os.path.dirname(os.getcwd())
path = os.path.join(path, "ProcessedData")

In [3]:
train = pd.read_csv(os.path.join(path, "train_processed.csv"))
test = pd.read_csv(os.path.join(path, "test_processed.csv"))
apt_train = pd.read_csv(os.path.join(path, "building_tr.csv"))
apt_test = pd.read_csv(os.path.join(path, "building_tst.csv"))
adr_train = pd.read_csv(os.path.join(path, "train_apt.csv"))
adr_test = pd.read_csv(os.path.join(path, "test_apt.csv"))
subway = pd.read_csv(os.path.join(path, "subway.csv"))

In [4]:
apt_train = apt_train.iloc[:,[4,9]].rename(columns={'건물명':'단지명'})
apt_test = apt_test.iloc[:,[4,9]].rename(columns={'건물명':'단지명'})

In [5]:
train = pd.merge(train,apt_train,how='left',on='도로명주소')
train = pd.merge(train,adr_train.loc[:,['위도','경도','도로명주소']],how='left',on='도로명주소')

In [6]:
test = pd.merge(test,apt_test,how='left',on='도로명주소')
test = pd.merge(test,adr_test.loc[:,['위도','경도','도로명주소']],how='left',on='도로명주소')

In [7]:
def loc(x,y):
    m = 1000000; res=''
    for ind in range(subway.shape[0]):
        sub_x = subway.loc[ind,'위도']
        sub_y = subway.loc[ind,'경도']
        subway_name = subway.loc[ind,'subway_name']
        distance = np.sqrt((sub_x-x)**2+(sub_y-y)**2)
        if distance < m:
            m = distance
            res = subway_name
    return res,m

In [8]:
tmp = train.apply(lambda x : loc(x['위도'],x['경도']),axis=1)
tmp1 = test.apply(lambda x : loc(x['위도'],x['경도']),axis=1)

In [9]:
train['subway_name'] = [i[0] for i in tmp]
train['subway_dist'] = [i[1] for i in tmp]

In [10]:
test['subway_name'] = [i[0] for i in tmp1]
test['subway_dist'] = [i[1] for i in tmp1]

In [11]:
train = pd.merge(train,subway[['subway_name','환승역 수']],on='subway_name',how='left')
test = pd.merge(test,subway[['subway_name','환승역 수']],on='subway_name',how='left')

In [12]:
def impute(col_pred, tmp, x_col = "단지내주차면수",col = "연면적"):
    tr = tmp.loc[~tmp[col].isna(),[x_col,col]]
    X = np.array(tr.drop(col,axis=1)).reshape(-1,1)
    y = np.array(tr[col])
    fit = LinearRegression().fit(X,y)
    X_new = np.array(tmp.loc[tmp.단지코드==col_pred,x_col])
    pred = fit.predict(X_new.reshape(-1,1))
    return pred

In [ ]:
tmp = train[['단지코드','단지내주차면수','연면적']]
code_ls_na = tmp.loc[tmp.연면적.isna(),'단지코드'].unique() 
col_pred = code_ls_na
tmp = deepcopy(train)
x_col = "단지내주차면수"
col = "연면적"
tr = tmp.loc[~tmp[col].isna(),[x_col,col]]
X = np.array(tr.drop(col,axis=1)).reshape(-1,1)
y = np.array(tr[col])
fit = LinearRegression().fit(X,y)
X_new = np.array(tmp.loc[tmp.단지코드==col_pred,x_col])
tmp = train[['단지코드','단지내주차면수','연면적']]pred = fit.predict(X_new.reshape(-1,1))

In [16]:
tmp = train[['단지코드','단지내주차면수','연면적']]
code_ls_na = tmp.loc[tmp.연면적.isna(),'단지코드'].unique() 
for col_pred in code_ls_na:
    train.loc[train.단지코드==col_pred,"연면적"] = impute(col_pred, tmp)

In [18]:
tmp = test[['단지코드','단지내주차면수','연면적']]
code_ls_na = tmp.loc[tmp.연면적.isna(),'단지코드'].unique() 
for col_pred in code_ls_na:
    test.loc[test.단지코드==col_pred,"연면적"] = impute(col_pred, tmp)

In [24]:
pd.DataFrame({'train': train.isna().sum(),'test':test.isna().sum()})

             train  test
subway_dist      0   0.0
subway_name      0   0.0
경도              39   4.0
공가수              0   0.0
공급유형             0   0.0
단지내주차면수          0   0.0
단지명              0   0.0
단지코드             0   0.0
도로명주소            0   0.0
등록차량수            0   NaN
버스정류장            0   0.0
연면적              0   0.0
위도              39   4.0
임대건물구분           0   0.0
임대료              0   0.0
임대보증금            0   0.0
자격유형             0   0.0
전용면적             0   0.0
전용면적별세대수         0   0.0
지역               0   0.0
지하철역             0   0.0
총세대수             0   0.0
환승역 수           39   4.0

In [25]:
import os
path = os.path.dirname(os.getcwd())
path = os.path.join(path, "ProcessedData")
train.to_csv(os.path.join(path,"merged_train.csv"),index=False)
test.to_csv(os.path.join(path,"merged_test.csv"),index=False)