In [77]:
#Package
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
plt.rcParams['font.family'] = 'NanumGothic'
import warnings
warnings.filterwarnings(action='ignore')
# pd.set_option('display.max_rows', None)

In [78]:
train=pd.read_csv("merged_train.csv")
test=pd.read_csv("merged_test.csv")

In [79]:
# merged_ data에서 drop해야 할 단지코드
#print(train.shape, test.shape)
#train = train.loc[~train.단지코드.isin(['C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988']),]
#test = test.loc[~test.단지코드.isin(['C2335', 'C1327', 'C2675'])]
#print(train.shape, test.shape)

In [80]:
print(len(set(train.단지코드)), len(set(test.단지코드)))

414 147

In [81]:
print(train.shape, test.shape)

(2896, 34) (1008, 33)

In [82]:
train=train.drop_duplicates(keep='first')
test=test.drop_duplicates(keep='first')

In [83]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철역', '버스정류장', '단지내주차면수', '등록차량수', '단지명',
       '도로명주소', '연면적', '위도', '경도', 'subway_name', 'subway_dist', '환승역 수',
       '총인구수', '세대당_인구', '남/여비율', '남/여_0~19세', '남/여_20~39세', '남/여_40~69세',
       '남/여_70세이상', '0~19세_비율', '20~39세_비율', '40~69세_비율', '70세이상_비율'],
      dtype='object')

## 상가비율, 대형전용면적, 세대당가능주차면수, 공가수

In [84]:
print("\n...Before preprocessing")
print(train.shape, test.shape)

# 상가비율 column 추가
train_cls = pd.concat([train[['단지코드']], pd.get_dummies(train[['임대건물구분']])], axis=1).groupby('단지코드').sum()
tot = train_cls['임대건물구분_상가']+train_cls['임대건물구분_아파트']
train_cls['상가비율'] = train_cls['임대건물구분_상가']/tot
train = pd.merge(train,train_cls[['상가비율']].reset_index(),on='단지코드')

test_cls = pd.concat([test[['단지코드']], pd.get_dummies(test[['임대건물구분']])], axis=1).groupby('단지코드').sum()
tot = test_cls['임대건물구분_상가']+test_cls['임대건물구분_아파트']
test_cls['상가비율'] = test_cls['임대건물구분_상가']/tot
test = pd.merge(test,test_cls[['상가비율']].reset_index(),on='단지코드')

# 세대당_가능주차면수 column 추기
train['세대당_가능주차면수'] = train['단지내주차면수']/train['총세대수']
test['세대당_가능주차면수'] = test['단지내주차면수']/test['총세대수']

# 공가수비율 column 추가
train['공가수비율']= train.공가수/train.총세대수 
test['공가수비율']= test.공가수/test.총세대수 

# 대형전용면적 column 추가
level = 85
train['대형전용면적'] = 0
train.loc[train.전용면적>level, '대형전용면적'] = 1
train.loc[train.전용면적<=level, '대형전용면적'] = 0

test['대형전용면적'] = 0
test.loc[test.전용면적>level, '대형전용면적'] = 1
test.loc[test.전용면적<=level, '대형전용면적'] = 0

# check
print("\n...After preprocessing")
print(train.shape, test.shape)

...Before preprocessing
(2577, 34) (936, 33)

...After preprocessing
(2577, 38) (936, 37)

In [85]:
#train["법정동_세대수"]=(train.총인구수/train.세대당_인구)/train.총세대수
#test["법정동_세대수"]=(test.총인구수/test.세대당_인구)/test.총세대수

# 자격유형

In [86]:
dic = {'1': 'A' ,'2':['C','F','G'],'3':['B','H','I'],'4':['J'],
       '5':['L',"M","N","O"],'6':["E","K"],'7':'D'}

In [87]:
def mapping_by_key(dic, x):
    for i in dic.keys():
        if x in dic[i]:
            return int(i)

In [88]:
train['자격유형_카테고리'] = train['자격유형'].apply(lambda x : mapping_by_key(dic, x))
train['자격유형_카테고리'] = train['자격유형_카테고리'].astype(object)
test['자격유형_카테고리'] = test['자격유형'].apply(lambda x : mapping_by_key(dic, x))
test['자격유형_카테고리'] = test['자격유형_카테고리'].astype(object)
train= train.drop(columns="자격유형")
test= test.drop(columns="자격유형")

# 공급유형

In [89]:
train.loc[train.공급유형.isin(['공공임대(5년)', '공공임대(10년)']), '공급유형'] = '공공임대(단기)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공임대(10년)']), '공급유형'] = '공공임대(단기)'

In [90]:
train.shape, test.shape

((2577, 38), (936, 37))

# 어제 결과를 보니까 1차원으로 해야 할 것 같다.

In [91]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '임대보증금', '임대료', '지하철역', '버스정류장', '단지내주차면수', '등록차량수', '단지명', '도로명주소',
       '연면적', '위도', '경도', 'subway_name', 'subway_dist', '환승역 수', '총인구수',
       '세대당_인구', '남/여비율', '남/여_0~19세', '남/여_20~39세', '남/여_40~69세', '남/여_70세이상',
       '0~19세_비율', '20~39세_비율', '40~69세_비율', '70세이상_비율', '상가비율', '세대당_가능주차면수',
       '공가수비율', '대형전용면적', '자격유형_카테고리'],
      dtype='object')

In [92]:
len(set(train.단지코드))

414

In [93]:
data = train.drop(columns=['공급유형','자격유형_카테고리','전용면적','임대건물구분',
                           '전용면적별세대수','대형전용면적','자격유형_카테고리',
                           '임대보증금','임대료'])
data = data.drop_duplicates()

In [94]:
data.shape

(414, 30)

In [95]:
sample = pd.DataFrame(train.groupby(['단지코드','공급유형']).sum()['전용면적별세대수']).reset_index()

In [96]:
sample.head()

    단지코드  공급유형  전용면적별세대수
0  C1000  국민임대       566
1  C1004  영구임대       504
2  C1004  임대상가        13
3  C1005  국민임대      1144
4  C1013  국민임대      1308

In [97]:
for i in sample.공급유형.unique():
    data[str(i)]=0

In [98]:
for i in sample.index:
    code = sample.loc[i,'단지코드']
    col = sample.loc[i,'공급유형']
    val = sample.loc[i,'전용면적별세대수']
    ind = data[data['단지코드']==code].index
    data.loc[ind,col] = val

In [99]:
sample = train.groupby('단지코드').mean()[['임대료','임대보증금']].reset_index()
sample.head()

    단지코드            임대료         임대보증금
0  C1000  121064.285714  1.320357e+07
1  C1004  877964.187248  1.038396e+07
2  C1005  222046.666667  1.710767e+07
3  C1013  134726.000000  2.492480e+07
4  C1014  160488.571429  2.389400e+07

In [ ]:
for i in sample.index:
    code = sample.loc[i,'단지코드']
    val1 = sample.loc[i,'임대료']
    val2 = sample.loc[i,'임대보증금']
    ind = data[data['단지코드']==code].index
    data.loc[ind,'임대료'] = val1
    data.loc[ind,'임대보증금'] = val2

In [ ]:
sample = pd.DataFrame(train.groupby(['단지코드','자격유형_카테고리']).sum()['전용면적별세대수']).reset_index()
sample.head()

    단지코드  자격유형_카테고리  전용면적별세대수
0  C1000          1       566
1  C1004          2       504
2  C1004          7        13
3  C1005          1      1144
4  C1013          1      1308

In [ ]:
for i in sample.index:
    code = sample.loc[i,'단지코드']
    col = sample.loc[i,'자격유형_카테고리']
    val = sample.loc[i,'전용면적별세대수']
    ind = data[data['단지코드']==code].index
    data.loc[ind,col] = val

In [ ]:
data=data.fillna(0)

In [ ]:
sample = pd.DataFrame(train.groupby('단지코드')['대형전용면적'].sum()).reset_index()
sample.head()

    단지코드  대형전용면적
0  C1000       0
1  C1004       1
2  C1005       0
3  C1013       0
4  C1014       0

In [ ]:
data=pd.merge(data, sample, on="단지코드", how="inner")

# Test에 똑같이

In [ ]:
print(len(set(test.단지코드)))
dat = test.drop(columns=['공급유형','자격유형_카테고리','전용면적','임대건물구분',
                           '전용면적별세대수','대형전용면적','자격유형_카테고리',
                           '임대보증금','임대료'])
dat = dat.drop_duplicates()
dat.shape

147

(147, 29)

In [ ]:
sample = pd.DataFrame(test.groupby(['단지코드','공급유형']).sum()['전용면적별세대수']).reset_index()
sample.head()

    단지코드  공급유형  전용면적별세대수
0  C1003  행복주택       480
1  C1006  영구임대      1475
2  C1006  임대상가        13
3  C1016  국민임대       643
4  C1019  국민임대       321

In [ ]:
for i in sample.공급유형.unique():
    dat[str(i)]=0

In [ ]:
for i in sample.index:
    code = sample.loc[i,'단지코드']
    col = sample.loc[i,'공급유형']
    val = sample.loc[i,'전용면적별세대수']
    ind = dat[dat['단지코드']==code].index
    dat.loc[ind,col] = val

In [ ]:
sample = test.groupby('단지코드').mean()[['임대료','임대보증금']].reset_index()
sample.head()

    단지코드           임대료         임대보증금
0  C1003  1.158750e+05  2.265000e+07
1  C1006  2.333169e+06  1.754953e+07
2  C1016  2.280100e+05  2.402675e+07
3  C1019  1.264300e+05  1.485750e+07
4  C1030  2.142167e+05  5.141333e+07

In [ ]:
for i in sample.index:
    code = sample.loc[i,'단지코드']
    val1 = sample.loc[i,'임대료']
    val2 = sample.loc[i,'임대보증금']
    ind = dat[dat['단지코드']==code].index
    dat.loc[ind,'임대료'] = val1
    dat.loc[ind,'임대보증금'] = val2

In [ ]:
sample = pd.DataFrame(test.groupby(['단지코드','자격유형_카테고리']).sum()['전용면적별세대수']).reset_index()
sample.head()

    단지코드  자격유형_카테고리  전용면적별세대수
0  C1003          4       480
1  C1006          2      1459
2  C1006          7        29
3  C1016          1       643
4  C1019          1       321

In [ ]:
for i in sample.index:
    code = sample.loc[i,'단지코드']
    col = sample.loc[i,'자격유형_카테고리']
    val = sample.loc[i,'전용면적별세대수']
    ind = dat[dat['단지코드']==code].index
    dat.loc[ind,col] = val

In [ ]:
dat=dat.fillna(0)

In [ ]:
sample = pd.DataFrame(test.groupby('단지코드')['대형전용면적'].sum()).reset_index()
sample.head()

    단지코드  대형전용면적
0  C1003       0
1  C1006       1
2  C1016       0
3  C1019       0
4  C1030       0

In [ ]:
dat=pd.merge(dat, sample, on="단지코드", how="inner")

In [ ]:
dat.columns=[       '단지코드',        '총세대수',          '지역',         '공가수',
              '지하철역',       '버스정류장',     '단지내주차면수',         '단지명',
             '도로명주소',         '연면적',          '위도',          '경도',
       'subway_name', 'subway_dist',       '환승역 수',        '총인구수',
            '세대당_인구',       '남/여비율',   '남/여_0~19세',  '남/여_20~39세',
        '남/여_40~69세',   '남/여_70세이상',    '0~19세_비율',   '20~39세_비율',
         '40~69세_비율',    '70세이상_비율',    '상가비율',  '세대당_가능주차면수',
             '공가수비율',        '행복주택',        '영구임대',        '임대상가',
              '국민임대',   '공공임대(50년)',    '공공임대(단기)',    '공공임대(분납)',
               '임대료',       '임대보증금',             '자격유형4',             '자격유형2',
                   '자격유형7',             '자격유형1',             '자격유형6',             '자격유형3',
                   '자격유형5',      '대형전용면적']
data.columns=[  '단지코드',        '총세대수',          '지역',         '공가수',
              '지하철역',       '버스정류장',     '단지내주차면수',       '등록차량수',
               '단지명',       '도로명주소',         '연면적',          '위도',
                '경도', 'subway_name', 'subway_dist',       '환승역 수',
              '총인구수',      '세대당_인구',       '남/여비율',   '남/여_0~19세',
        '남/여_20~39세',  '남/여_40~69세',   '남/여_70세이상',    '0~19세_비율',
         '20~39세_비율',   '40~69세_비율',    '70세이상_비율',  '상가비율',
        '세대당_가능주차면수',       '공가수비율',        '국민임대',        '영구임대',
              '임대상가',    '공공임대(단기)',        '장기전세',        '행복주택',
          '공공임대(분납)',        '공공분양',   '공공임대(50년)',         '임대료',
             '임대보증금', '자격유형1',  '자격유형2',             '자격유형7',
                   '자격유형3', '자격유형6','자격유형4','자격유형5',
            '대형전용면적']

# 지역 카테고리 추가 & 지역 drop

In [ ]:
#group1 = ['대구광역시','세종특별자치시','경기도','서울특별시','충청북도','전라남도','전라북도','경상북도']
#group2 = ['대전광역시','울산광역시','광주광역시','경상남도','제주특별자치도','부산광역시','충청남도','강원도']    
#data.loc[data.지역.isin(group1),"지역_카테고리"] = "high"
#data.loc[data.지역.isin(group2),"지역_카테고리"] = "low"
#dat.loc[dat.지역.isin(group1),"지역_카테고리"] = "high"
#dat.loc[dat.지역.isin(group2),"지역_카테고리"] = "low"

# Correlation 확인

In [ ]:
X_cor = data.drop(columns=['단지코드','단지명','도로명주소','subway_name', "지역"])

In [ ]:
X_cor = pd.get_dummies(X_cor, drop_first=True)

In [ ]:
plt.subplots(figsize=(20,15))
sns.heatmap(X_cor.corr(), cbar = True, annot = True, fmt = '.2f', square = True, cmap = 'Blues', linewidths=.5)

# Modeling

In [ ]:
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet, Ridge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor 
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
import lightgbm as LGB
from sklearn.cross_decomposition import PLSRegression
from sklearn.svm import SVR
from statsmodels.api import OLS

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
robustScaler = RobustScaler()
standardScaler = StandardScaler()
minMaxScaler = MinMaxScaler()
#standardScaler.fit(X_train)
#X_train = standardScaler.transform(X_train)
#standardScaler.fit(X_test)
#X_test = standardScaler.transform(X_test)

# Validation
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, KFold, RepeatedKFold
from sklearn.metrics import mean_absolute_error

## 나눠서 modeling

In [42]:
pd.concat([pd.DataFrame(data.단지내주차면수.describe()),
           pd.DataFrame(dat.단지내주차면수.describe())], axis=1)

           단지내주차면수      단지내주차면수
count   414.000000   147.000000
mean    586.330918   558.387755
std     363.665625   321.009953
min      13.000000    29.000000
25%     318.250000   313.000000
50%     517.000000   499.000000
75%     785.750000   726.000000
max    1798.000000  1696.000000

In [85]:
train1=data[data.단지내주차면수<785]
train2=data[data.단지내주차면수>=785]
test1=dat[dat.단지내주차면수<785]
test2=dat[dat.단지내주차면수>=785]

In [86]:
print(train1.shape, train2.shape)
print(test1.shape, test2.shape)

(310, 49) (104, 49)
(113, 46) (34, 46)

In [78]:
def fit(X_train, X_test, y_train, y_test, model):
    try:
        model.fit(X_train, y_train, verbose=False)
    except:
        model.fit(X_train, y_train)
    tst_pred = model.predict(X_test)
    error = mean_absolute_error(y_test,tst_pred)
    return model, tst_pred, error


def fit_models(X, y, models, cv=False):
    X = np.array(X.reset_index(drop=True))
    y = np.array(y.reset_index(drop=True))
    best_error = 10000
    best_tst_pred = 0
    best_model = ""
    if cv==False:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True,random_state=2021)
        for m in models:
            model, tst_pred, error = fit(X_train, X_test, y_train, y_test, m)
            if best_error > error:
                best_error = error
                best_tst_pred = tst_pred
                best_model = model
    else:
        best_tst_idx = []
        kf = KFold(n_splits = 5, shuffle=True,random_state = 2021)
        for m in models:
            mae = []
            pred= []
            tst_idx = []
            for train_index, test_index in kf.split(X, y):
                X_train, X_test = X[train_index], X[test_index]
                y_train, y_test = y[train_index], y[test_index]
                model, tst_pred, error = fit(X_train, X_test, y_train, y_test, m)
                mae.append(error)
                pred.append(tst_pred.tolist())
                tst_idx.append(test_index.tolist())
            cv_error = np.mean(mae)
            print(f"model:{str(m).split('(')[0]}\nMAE:{cv_error}")
            if best_error > cv_error:
                best_error = cv_error
                best_tst_pred = pred
                best_tst_idx = sum(tst_idx, [])
                best_model = model
        best_tst_pred = sum(best_tst_pred,[])
        best_tst_pred = dict(zip(best_tst_idx,best_tst_pred))
    try:
        best_model = best_model.fit(np.concatenate((X_train, X_test),axis=0), 
                                                np.concatenate((y_train, y_test),axis=0), 
                                                verbose=False)
    except:
        best_model = best_model.fit(np.concatenate((X_train, X_test),axis=0), 
                                        np.concatenate((y_train, y_test),axis=0))
    return best_model, best_tst_pred, best_error

In [79]:
models = [LinearRegression(), 
          PLSRegression(), 
          Ridge(random_state=2021),
          Lasso(random_state=2021), 
          ElasticNet(random_state=2021),
          #SVR(),
          CatBoostRegressor(random_state=2021, loss_function = 'MAE'),
          RandomForestRegressor(criterion="mae",random_state=2021),
          GradientBoostingRegressor(criterion="mae",random_state=2021),
          XGBRegressor(random_state=2021)]

In [87]:
X1 = train1.drop(columns=['단지명','단지코드','도로명주소','subway_name',
                         '등록차량수', "임대상가", "자격유형2"])
X1 = pd.get_dummies(X1, drop_first=True)
y1=train1["등록차량수"]

In [88]:
best_model1, best_tst_pred1, best_error1 = fit_models(X1, y1, models, cv=True)

model:LinearRegression
MAE:103.27674603081205
model:PLSRegression
MAE:102.34733573828204
model:Ridge
MAE:96.07751515208693
model:Lasso
MAE:93.98301672516504
model:ElasticNet
MAE:92.32239337065735
model:<catboost.core.CatBoostRegressor object at 0x0000023728F42A20>
MAE:96.18994892632311
model:RandomForestRegressor
MAE:97.93738709677419
model:GradientBoostingRegressor
MAE:100.76437175113858
model:XGBRegressor
MAE:105.45323108550042

In [174]:
#best_tst_pred1

In [90]:
X2=train2.drop(columns=['단지명','단지코드','도로명주소','subway_name',
                         '등록차량수', "임대상가","자격유형2"])
X2 = pd.get_dummies(X2, drop_first=True)
y2=train2["등록차량수"]

In [91]:
best_model2, best_tst_pred2, best_error2=fit_models(X2, y2, models, cv=True)

model:LinearRegression
MAE:322.17344818351177
model:PLSRegression
MAE:236.14229395107515
model:Ridge
MAE:251.12690557721334
model:Lasso
MAE:256.29063761944764
model:ElasticNet
MAE:249.55442607478795
model:<catboost.core.CatBoostRegressor object at 0x0000023728F42A20>
MAE:229.58953837903022
model:RandomForestRegressor
MAE:231.99496666666664
model:GradientBoostingRegressor
MAE:249.9504826581073
model:XGBRegressor
MAE:243.7081236921038

In [103]:
#best_model2, best_tst_pred2, best_error2

In [94]:
X1 = train1.drop(columns=['단지명','단지코드','도로명주소','subway_name',
                         '등록차량수', "임대상가",
                           "자격유형1","자격유형2","자격유형3","자격유형4","자격유형5","자격유형6","자격유형7"
                         ])
X1 = pd.get_dummies(X1, drop_first=True)
y1=train1["등록차량수"]

In [95]:
best_model_1, best_tst_pred_1, best_error_1 = fit_models(X1, y1, models, cv=True)

model:LinearRegression
MAE:100.69722634026547
model:PLSRegression
MAE:102.45594186733747
model:Ridge
MAE:95.62574717241117
model:Lasso
MAE:94.59644651169945
model:ElasticNet
MAE:93.00055823276298
model:<catboost.core.CatBoostRegressor object at 0x0000023728F42A20>
MAE:93.9600959066285
model:RandomForestRegressor
MAE:99.94646774193548
model:GradientBoostingRegressor
MAE:100.52640954212868
model:XGBRegressor
MAE:105.89410431769586

In [104]:
#best_tst_pred_1

In [97]:
X2=train2.drop(columns=['단지명','단지코드','도로명주소','subway_name',
                         '등록차량수', "임대상가",
                       "자격유형1","자격유형2","자격유형3","자격유형4","자격유형5","자격유형6","자격유형7"])
X2 = pd.get_dummies(X2, drop_first=True)
y2=train2["등록차량수"]

In [98]:
best_model_2, best_tst_pred_2, best_error_2=fit_models(X2, y2, models, cv=True)

model:LinearRegression
MAE:286.04536653863755
model:PLSRegression
MAE:238.90271908584174
model:Ridge
MAE:230.79982926781645
model:Lasso
MAE:233.74361166603626
model:ElasticNet
MAE:230.50650761413846
model:<catboost.core.CatBoostRegressor object at 0x0000023728F42A20>
MAE:220.76682863609912
model:RandomForestRegressor
MAE:230.0291619047619
model:GradientBoostingRegressor
MAE:253.87735811796702
model:XGBRegressor
MAE:244.46349734351753

In [105]:
#best_tst_pred_2

In [130]:
기존=pd.merge(pd.DataFrame(best_tst_pred1,index=[0]).T.reset_index(),
         pd.DataFrame(train1.단지코드.reset_index(drop=True)).reset_index(),
         on="index")

In [131]:
자격유형드랍=pd.merge(pd.DataFrame(best_tst_pred_1,index=[0]).T.reset_index(),
         pd.DataFrame(train1.단지코드.reset_index(drop=True)).reset_index(),
         on="index")

In [132]:
df=pd.merge(기존, 자격유형드랍, on="단지코드", how='inner')

In [133]:
df.columns

Index(['index_x', '0_x', '단지코드', 'index_y', '0_y'], dtype='object')

In [134]:
df=df.drop(columns=["index_x", "index_y"])

In [135]:
df=pd.merge(df, train1[["단지코드", "등록차량수"]], on="단지코드", how="inner")

In [136]:
df.columns=['pred_기본', '단지코드', 'pred_자격유형x', 'real_Y']

In [137]:
df=df[['단지코드', 'pred_기본', 'pred_자격유형x', 'real_Y']]

In [139]:
pd.set_option('display.max_rows', None)

In [159]:
#df

In [177]:
df["diff"]=abs(df.pred_기본-df.pred_자격유형x)

In [179]:
#df.sort_values("diff")

In [155]:
#train1[train1.상가비율>=0.7][["단지코드", "지역", "등록차량수", "단지내주차면수", "총세대수"]]

In [156]:
#train[train.단지코드=="C1616"][["단지코드","총세대수", "단지내주차면수", "등록차량수", "세대당_인구", "상가비율"]]

In [160]:
기존=pd.merge(pd.DataFrame(best_tst_pred2,index=[0]).T.reset_index(),
         pd.DataFrame(train2.단지코드.reset_index(drop=True)).reset_index(),
         on="index")
자격유형드랍=pd.merge(pd.DataFrame(best_tst_pred_2,index=[0]).T.reset_index(),
         pd.DataFrame(train2.단지코드.reset_index(drop=True)).reset_index(),
         on="index")

df2=pd.merge(기존, 자격유형드랍, on="단지코드", how='inner')
df2=df2.drop(columns=["index_x", "index_y"])

df2=pd.merge(df2, train2[["단지코드", "등록차량수"]], on="단지코드", how="inner")
df2.columns=['pred_기본', '단지코드', 'pred_자격유형x', 'real_Y']
df2=df2[['단지코드', 'pred_기본', 'pred_자격유형x', 'real_Y']]

In [180]:
#df2

In [172]:
df2["diff"]=abs(df2.pred_기본-df2.pred_자격유형x)

In [173]:
df2.sort_values("diff")

      단지코드      pred_기본   pred_자격유형x  real_Y        diff
51   C2352   945.601611   945.564176   793.0    0.037435
13   C2373  1045.761160  1047.333927   800.0    1.572766
71   C1036  1058.598068  1060.382920  1279.0    1.784853
79   C1129  1519.261586  1521.332610  1668.0    2.071024
15   C1933  1293.564477  1296.687230  1730.0    3.122753
3    C1885   711.725690   707.739467   616.0    3.986223
25   C1911   946.992821   942.570034   831.0    4.422787
17   C2414  1174.927920  1169.676964  1200.0    5.250956
80   C2507   883.779125   889.107420   763.0    5.328295
38   C1363  1606.424075  1600.610222  2550.0    5.813853
62   C2446  1147.153985  1140.748527  1204.0    6.405458
35   C2393  1146.333593  1153.581929   922.0    7.248335
56   C1700   979.096010   986.815334   979.0    7.719325
82   C2225   937.318055   928.075389   448.0    9.242666
55   C1136   782.382853   791.771140   763.0    9.388287
97   C1103   897.878817   888.449965   787.0    9.428852
74   C2082   845.209539   834.892320   822.0   10.317219
5    C2032   863.802008   853.323306  1162.0   10.478702
21   C1068   791.173477   779.451871   510.0   11.721606
83   C1176  1084.061760  1072.303753   619.0   11.758007
9    C1406  1311.414043  1299.324383  1350.0   12.089660
53   C1743  1053.741710  1066.383738  1653.0   12.642028
27   C2070   854.416285   867.323635   735.0   12.907350
26   C1236  1056.292752  1069.233346   657.0   12.940594
84   C1407  1136.197236  1149.384893  1064.0   13.187657
39   C2496  1217.097400  1203.523848  1400.0   13.573552
7    C1527   777.425382   791.080481  1150.0   13.655100
8    C1386   984.497767  1000.410950  1145.0   15.913182
18   C2612  1237.652135  1254.855979  1832.0   17.203844
70   C1916   780.077084   797.375746   752.0   17.298662
42   C2538  1319.775611  1337.266995   799.0   17.491383
66   C1368   836.868264   854.696758   861.0   17.828493
36   C1017  1169.817979  1151.818754  1246.0   17.999225
78   C2251   841.701029   823.595386   870.0   18.105642
76   C2085  1320.079895  1339.350470  1595.0   19.270575
20   C1357  1126.330548  1106.973051   995.0   19.357497
49   C1448  1015.736750   996.040834  1284.0   19.695916
24   C1693   832.231428   852.597283  1087.0   20.365855
50   C2565   788.746104   809.766174  1090.0   21.020070
31   C2489   789.270051   810.885288   950.0   21.615237
88   C2574   953.692484   975.380171   826.0   21.687687
33   C1286  1115.007110  1137.427708   881.0   22.420598
10   C2460   852.738780   829.126030   793.0   23.612750
72   C1465   833.063040   857.093363   557.0   24.030323
96   C2329   842.834349   818.669083   821.0   24.165266
64   C1014   882.300452   907.274911   708.0   24.974459
98   C1320  1018.069164  1045.117948   924.0   27.048784
40   C1584   819.743487   846.992542   507.0   27.249055
48   C1268   806.510430   835.907582   934.0   29.397152
75   C1328   795.703719   766.207046   770.0   29.496673
87   C1620   977.622213   947.171237  1101.0   30.450976
94   C1024  1164.573297  1133.972085   957.0   30.601212
85   C1244  1343.080889  1311.699988  1804.0   31.380901
89   C1744   914.556276   947.680400   979.0   33.124124
58   C2618  1100.944719  1066.112443   783.0   34.832275
81   C1724  1003.833993   967.378186   701.0   36.455807
59   C1451  1116.969744  1080.185295  1044.0   36.784449
22   C2458   794.234273   831.071659   910.0   36.837385
12   C1969   993.016801   953.911377   886.0   39.105423
2    C1005  1052.556469  1013.039051   376.0   39.517418
52   C2137   869.523212   829.870966   752.0   39.652246
23   C2089   743.738321   783.723387   572.0   39.985066
19   C2595  1146.413749  1105.179194  1359.0   41.234556
90   C2071  1067.350183  1109.137187  1398.0   41.787004
45   C2666   812.965733   856.181089   701.0   43.215356
54   C2377  1064.888468  1110.571048   579.0   45.682580
77   C1310   975.472610   929.690793  1084.0   45.781817
6    C1579   900.103060   852.977942  1158.0   47.125119
73   C1677   825.149622   872.862464  1101.0   47.712842
69   C2046  1087.670829  1135.590926  1306.0   47.920097
60   C2086  1456.180999  1504.629528  1524.0   48.448530
1    C1672  1110.640418  1060.942311   873.0   49.698106
11   C1740  1238.782404  1288.733308   979.0   49.950904
68   C1013  1080.496809  1030.544663  1665.0   49.952146
37   C1065   857.553245   907.991025  1255.0   50.437780
43   C1015   781.227732   831.969347   579.0   50.741615
86   C1833   992.217500  1043.104744  1001.0   50.887244
16   C2316   918.980460   862.753761   712.0   56.226699
99   C1326  1018.522873   959.199727  1153.0   59.323146
102  C2506  1335.159930  1274.489490  1433.0   60.670440
67   C2361   908.250293   969.506027  1117.0   61.255734
91   C1889   797.347908   733.126774   808.0   64.221134
101  C1939  1818.172698  1753.621696  1896.0   64.551002
0    C1032   980.180408  1044.831339   316.0   64.650931
30   C1863   933.475518   998.698756   733.0   65.223238
61   C2362   923.774618   857.454717   196.0   66.319901
57   C2579  1009.771084   938.248424   751.0   71.522660
65   C2097  1067.161330   987.311226   995.0   79.850104
44   C1689  1017.282687   936.327089   960.0   80.955598
14   C1649   942.306462  1023.360208  1214.0   81.053747
32   C2620  1135.600679  1217.493107  1709.0   81.892429
4    C2000   950.361350   868.345294   795.0   82.016055
28   C1365   909.314497   998.833324   945.0   89.518828
34   C1350  1283.380122  1373.718833  2315.0   90.338711
100  C1802  1443.217107  1533.903477  1983.0   90.686370
95   C2274   876.906857   785.824339   713.0   91.082518
47   C2055   873.993921   777.712976   723.0   96.280946
29   C2488  1079.356043  1175.919515  1023.0   96.563472
41   C2328  1290.717621  1398.640462  1374.0  107.922840
46   C2276   765.911151   880.494578  1159.0  114.583427
103  C2259  1381.020868  1259.760447  1378.0  121.260421
92   C2358  1069.957084   943.608067  1010.0  126.349016
63   C1430  1189.616481  1060.443915   839.0  129.172567
93   C1177  1379.120811  1189.194022  1044.0  189.926789

In [175]:
print(best_error1, best_error_1)
print(best_error2, best_error_2)

92.32239337065735 93.00055823276298
229.58953837903022 220.76682863609912

In [184]:
#df.to_csv("785미만.csv", index=False)
#df2.to_csv("785이상.csv", index=False)

# 나눠서 예측

In [ ]:
sample=pd.read_csv('sample_submission.csv')
sample.head()

In [ ]:
sample.shape

In [ ]:
train1=data[data.단지내주차면수<785]
train2=data[data.단지내주차면수>=785]
test1=dat[dat.단지내주차면수<785]
test2=dat[dat.단지내주차면수>=785]

In [ ]:
#train1=data[data.세대당_가능주차면수<0.8304195804195804]
#train2=data[data.세대당_가능주차면수>=0.8304195804195804]
#test1=dat[dat.세대당_가능주차면수<0.8304195804195804]
#test2=dat[dat.세대당_가능주차면수>=0.8304195804195804]

In [ ]:
print(train1.shape, train2.shape)
print(test1.shape, test2.shape)

In [ ]:
df= pd.concat([train1, test1])

In [ ]:
X = df.drop(columns=['단지명','단지코드','도로명주소','subway_name',
                         '등록차량수', "임대상가", 
                     "자격유형1","자격유형2","자격유형3","자격유형4","자격유형5","자격유형6","자격유형7"])
X = pd.get_dummies(X, drop_first=True)

In [ ]:
X_train1=X.iloc[0:310, :]
X_test1=X.iloc[310:, :]
y_train1 = train1[['등록차량수']]

In [ ]:
#X.test["장기전세"]=0
#X.test["공공분양"]=0

In [ ]:
model_1=CatBoostRegressor(random_state=2021, verbose=False).fit(X_train1, y_train1)
model1_pred = model_1.predict(X_test1)

In [ ]:
model1=pd.DataFrame(model1_pred)
code1=test1.단지코드
model1=model1.reset_index(drop=True)
code1=code1.reset_index(drop=True)

In [ ]:
pred1=pd.concat([code1, model1], axis=1, ignore_index=True)
pred1.columns=["code", "num"]
pred1.head()

In [ ]:
df= pd.concat([train2, test2])

In [ ]:
X = df.drop(columns=['단지명','단지코드','도로명주소','subway_name',
                         '등록차량수', "임대상가",
                    "자격유형1","자격유형2","자격유형3","자격유형4","자격유형5","자격유형6","자격유형7"])
X = pd.get_dummies(X, drop_first=True)

In [ ]:
X_train2=X.iloc[0:104, :]
X_test2=X.iloc[104:, :]
y_train2 = train2[['등록차량수']]

In [ ]:
#X.test["장기전세"]=0
#X.test["공공분양"]=0

In [ ]:
model_2= CatBoostRegressor(random_state=2021, verbose=False).fit(X_train2, y_train2)
model2_pred = model_2.predict(X_test2)

In [ ]:
model2=pd.DataFrame(model2_pred)
code2=test2.단지코드
model2=model2.reset_index(drop=True)
code2=code2.reset_index(drop=True)

In [ ]:
pred2=pd.concat([code2, model2], axis=1, ignore_index=True)
pred2.columns=["code", "num"]
pred2.head()

In [ ]:
df_merge=pd.DataFrame(pd.concat([pred1, pred2], axis=0))
df_merge=df_merge.reset_index(drop=True)

In [ ]:
df_merge.head()

In [ ]:
test_split=pd.merge(sample, df_merge, on='code', how='outer')

In [ ]:
test_split.head()

In [ ]:
test_split= test_split.drop(columns='num_x')
test_split.columns=["code","num"]

In [ ]:
test_split[test_split.num<=0].index

In [ ]:
test_split

In [ ]:
one=pd.read_csv("0719_1.csv")
one = one.loc[~one.code.isin(['C2335', 'C1327', 'C2675'])]
test_= test_split.loc[~test_split.code.isin(['C2335', 'C1327', 'C2675'])]
round(mean_absolute_error(one.num, test_.num))

In [ ]:
plt.subplots(figsize=(17,15))
sorted_feature_importance = model_1.feature_importances_.argsort()
plt.barh(X_test1.columns[sorted_feature_importance], 
        model_1.feature_importances_[sorted_feature_importance], 
        color='turquoise')
plt.xlabel("CatBoost1 Feature Importance")

In [ ]:
plt.subplots(figsize=(17,15))
sorted_feature_importance = model_2.feature_importances_.argsort()
plt.barh(X_test2.columns[sorted_feature_importance], 
        model_2.feature_importances_[sorted_feature_importance], 
        color='turquoise')
plt.xlabel("CatBoost2 Feature Importance")

In [ ]:
#test_split.to_csv('0719_pos.csv', index=False)