In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
result = pd.read_csv("result.csv")
store = pd.read_csv("store.csv")

## 임대보증금, 임대료 NA imputation

In [3]:
def get_area(code):
    area = store[store['단지코드']==code]['전용면적'].unique()
    ind = store[(store['단지코드']==code)].index
    print('단지명: ',store[store['단지코드']==code]['단지명'].unique())
    print('지역: ',store[store['단지코드']==code]['지역'].unique())
    print('도로명주소: ',store[store['단지코드']==code]['도로명주소'].unique())
    print('면적 개수: ',store[store['단지코드']==code]['지역'].shape[0])
    for i,j in zip(area,ind):
        print(i,j,'/',end=' ')

In [4]:
def func(num,a,b):
    store.loc[num,'임대료'] = a
    store.loc[num,'임대보증금'] = b

In [5]:
def linear_func(code):
    tmp = store[(store['단지코드']==code)&(store['전용면적']<100)][['전용면적','임대료','임대보증금']]
    tmp = tmp.replace(0,np.nan)
    ind = tmp[tmp['임대료'].isna()==True].index
    train = tmp.dropna()
    train_X = np.array(train['전용면적']).reshape(-1,1)
    y1 = np.array(train['임대료'])
    y2 = np.array(train['임대보증금'])
    test = tmp[tmp['임대료'].isna()==True]
    test_X = np.array(test['전용면적']).reshape(-1,1)
    lg = LinearRegression()
    lg1 = LinearRegression()
    lg.fit(train_X,y1) #임대료
    lg1.fit(train_X,y2) #임대보증금
    pred = lg.predict(test_X)
    pred1 = lg1.predict(test_X)
    store.loc[ind,'임대료'] = pred
    store.loc[ind,'임대보증금'] = pred1

In [6]:
ind = store[(store['단지코드']=='C1859')&(store['단지명']!='대전판암4')].index

In [7]:
store = store.drop(ind,axis=0)

In [8]:
get_area('C1859')
func(91,356100,22625000)
func(119,518680,18672000)
func(154,218930,7881000)
func(98,479590,17265000)

단지명:  ['대전판암4']
지역:  ['대전광역시']
도로명주소:  ['대전광역시 동구 동부로 56-7']
면적 개수:  14
38.0 70 / 31.84 77 / 37.26 84 / 37.41 91 / 37.49 98 / 37.95 105 / 38.04 112 / 39.33 119 / 54.51 126 / 54.6 133 / 54.61 140 / 75.98 147 / 126.65 154 / 583.4 161 /

In [9]:
linear_func('C1859')

In [10]:
get_area('C1722')
# 27.75  4,280,000 108,000
# 42.35 6,540,000 166,000

단지명:  ['동해천곡 주공5차']
지역:  ['강원도']
도로명주소:  ['강원도 동해시 동굴로 15']
면적 개수:  2
32.1 168 / 72.16 169 /

In [11]:
tmp = store[(store['단지코드']=='C1722')&(store['전용면적']<100)][['전용면적','임대료','임대보증금']]
tmp = tmp.replace(0,np.nan)
ind = tmp[tmp['임대료'].isna()==True].index
train = tmp.dropna()
train_X = np.array([27.75,42.25]).reshape(-1,1)
y1 = np.array([108000,166000])
y2 = np.array([4280000,6540000])
test = tmp[tmp['임대료'].isna()==True]
test_X = np.array(test['전용면적']).reshape(-1,1)
lg = LinearRegression()
lg1 = LinearRegression()
lg.fit(train_X,y1) #임대료
lg1.fit(train_X,y2) #임대보증금
pred = lg.predict(test_X)
pred1 = lg1.predict(test_X)
store.loc[ind,'임대료'] = pred
store.loc[ind,'임대보증금'] = pred1

In [12]:
get_area('C2190')
func(175,314300,13170000)
func(174,336000,14790000)
func(171,90100,3940000)
func(177,182800,7990000)
func(170,102500,4680000)
func(172,126600,5530000)
func(181,327600,11793000)
func(176,183400,6620000)
func(178,209600,7545000)
func(177,196500,7074000)
func(176,183400,6602000)

단지명:  ['중리주공1단지아파트']
지역:  ['경상남도']
도로명주소:  ['경상남도 창원시 마산회원구 내서읍 상곡로 49']
면적 개수:  13
16.0 170 / 14.17 171 / 18.9 172 / 20.52 173 / 22.97 174 / 23.4 175 / 25.88 176 / 27.3 177 / 29.62 178 / 30.62 179 / 35.91 180 / 44.63 181 / 46.8 182 /

In [13]:
linear_func('C2190')

In [14]:
get_area('C1476')
func(184, 183500,7570000)
func(183, 204800, 8740000)

단지명:  ['밀양가곡1']
지역:  ['경상남도']
도로명주소:  ['경상남도 밀양시 중앙로 47']
면적 개수:  2
32.1 183 / 72.16 184 /

In [15]:
get_area('C1983')
func(185,104700,4510000)
func(186,157300,6255000)
func(187,209900,8000000)

단지명:  ['명천주공2단지']
지역:  ['충청남도']
도로명주소:  ['충청남도 보령시 주공로 50']
면적 개수:  3
31.84 185 / 63.68 186 / 126.65 187 /

In [16]:
# C2135 부산금곡1
get_area('C2135')
func(189,189500,615000)
func(193,240500,15370000)
func(197,139500,8790000)
func(192,97700,6150000)

단지명:  ['부산금곡주공1단지']
지역:  ['부산광역시']
도로명주소:  ['부산광역시 북구 효열로 268']
면적 개수:  13
14.1 188 / 18.98 189 / 19.36 190 / 21.46 191 / 22.83 192 / 23.4 193 / 27.55 194 / 29.17 195 / 31.92 196 / 32.6 197 / 36.57 198 / 50.08 199 / 240.22 200 /

In [17]:
linear_func('C2135')

In [18]:
# C2034 부산금곡2
get_area('C2034')
func(212,294600,20350000)
func(208,144700,9840000)
func(201,77500,4216000)
func(211,143900,9790000)
func(202,80000,4970000)
func(205,64830,5340000)
func(214,175500,10230000)
func(201,77500,5270000)
func(210,143900,9790000)

단지명:  ['부산금곡주공2단지']
지역:  ['부산광역시']
도로명주소:  ['부산광역시 북구 금곡대로616번길 10-9']
면적 개수:  15
14.1 201 / 18.98 202 / 19.36 203 / 21.46 204 / 22.83 205 / 23.4 206 / 27.55 207 / 29.17 208 / 31.92 209 / 32.1 210 / 32.6 211 / 36.57 212 / 50.08 213 / 72.26 214 / 240.22 215 /

In [19]:
linear_func('C2034')

In [20]:
get_area('C1109')
# 37.41 220,200 13,570,000
# 37.26 324000 7776000
# 54.51 256000 6144000
# 37.95 179000 4296000
# 39.33 360000 8640000

단지명:  [nan]
지역:  ['부산광역시']
도로명주소:  [nan]
면적 개수:  15
30.0 216 / 21.85 217 / 21.94 218 / 21.98 219 / 22.24 220 / 23.35 221 / 25.98 222 / 26.53 223 / 28.38 224 / 28.45 225 / 33.39 226 / 33.51 227 / 36.76 228 / 52.5 229 / 401.5 230 /

In [21]:
tmp = store[(store['단지코드']=='C1109')&(store['전용면적']<100)][['전용면적','임대료','임대보증금']]
tmp = tmp.replace(0,np.nan)
ind = tmp[tmp['임대료'].isna()==True].index
train = tmp.dropna()
train_X = np.array([37.41,37.26,54.51,37.95,39.33]).reshape(-1,1)
y1 = np.array([220200,324000,256000,179000,360000])
y2 = np.array([13570000,7776000,6144000,4296000,8640000])
test = tmp[tmp['임대료'].isna()==True]
test_X = np.array(test['전용면적']).reshape(-1,1)
lg = LinearRegression()
lg1 = LinearRegression()
lg.fit(train_X,y1) #임대료
lg1.fit(train_X,y2) #임대보증금
pred = lg.predict(test_X)
pred1 = lg1.predict(test_X)
store.loc[ind,'임대료'] = pred
store.loc[ind,'임대보증금'] = pred1

In [22]:
ind = ['C1859', 'C1722', 'C2190', 'C1476', 'C1983', 'C2135', 'C2034', 'C1109']
store = store.loc[store['단지코드'].isin(ind),:].replace(0,np.nan)

In [23]:
store[store['임대료'].isna()==True]

      단지코드     지역        단지명                    도로명주소    전용면적  임대료  임대보증금
161  C1859  대전광역시      대전판암4        대전광역시 동구 동부로 56-7  583.40  NaN    NaN
200  C2135  부산광역시  부산금곡주공1단지         부산광역시 북구 효열로 268  240.22  NaN    NaN
215  C2034  부산광역시  부산금곡주공2단지  부산광역시 북구 금곡대로616번길 10-9  240.22  NaN    NaN
230  C1109  부산광역시        NaN                      NaN  401.50  NaN    NaN

In [24]:
def outlier(code):
    test_X = store[(store['단지코드']==code)&(store['임대료'].isna()==True)]['전용면적']
    ind = store[(store['단지코드']==code)&(store['임대료'].isna()==True)].index
    area = store[store['단지코드']==code].iloc[0,4]
    y1 = store[store['단지코드']==code].iloc[0,5]
    y2 = store[store['단지코드']==code].iloc[0,6]
    ratio1 = y1/area
    ratio2 = y2/area
    res1 = ratio1*test_X
    res2 = ratio2*test_X
    store.loc[ind,'임대료'] = res1
    store.loc[ind,'임대보증금'] = res2

In [25]:
# outlier('C1859')
# outlier('C2135')
# outlier('C2034')
# outlier('C1109')

In [26]:
ind = ['C1859', 'C1722', 'C2190', 'C1476', 'C1983', 'C2135', 'C2034', 'C1109']

In [27]:
store =store.loc[store['단지코드'].isin(ind),:]

In [28]:
ind = store[store['임대보증금']<0].index #C1859

In [29]:
store.loc[ind,'임대료'] = np.nan
store.loc[ind,'임대보증금'] = np.nan

In [30]:
outlier('C1859')

In [31]:
store = store.fillna(0)

In [32]:
store.to_csv("trainsample.csv",index=False)

## 은영

In [37]:
store = pd.read_excel('result2.xlsx')
store = store.fillna(0)

In [38]:
def outlier(code):
    test_X = store[(store['단지코드']==code)&(store['임대료'].isna()==True)]['전용면적']
    ind = store[(store['단지코드']==code)&(store['임대료'].isna()==True)].index
    area = store[store['단지코드']==code].iloc[0,5]
    y1 = store[store['단지코드']==code].iloc[0,6]
    y2 = store[store['단지코드']==code].iloc[0,7]
    ratio1 = y1/area
    ratio2 = y2/area
    res1 = ratio1*test_X
    res2 = ratio2*test_X
    store.loc[ind,'임대료'] = res1
    store.loc[ind,'임대보증금'] = res2

In [39]:
for i in store['단지코드'].unique():
    linear_func(i)

In [40]:
store = store.iloc[:,1:]

In [41]:
store.to_csv("testsample.csv",index=False)